



// --- partie image-------------------
.container .box-image{

  max-width: 100%;
  height: 0%;
  margin-right: -6%;
}


.box-image{
  padding-left: 70px;

}

.box-text{
  color: #324161;
  // padding-top: 10%;
}

.box-text p{
  font-size: 60px;
  font-weight: bold;
  padding-top: 30px;
  font-style: italic;
  text-align: center;

}
.decouvrir{
  position: relative;
    top: 61px;
    left: 42px;
}
.btn-decouvrir{
  border-radius: 1.25rem;
  font-weight: bold;
  background-color: #324161;
  color: white;
  font-size: 1.6rem;
  margin-left: 16%;
}

.btn-decouvrir:hover{

  background-color: #1b2333;
  color: white;
}


.mag{
  width: 100%;
  background: transparent;
  margin-top: 30px;
}

@media screen and (max-width:768px) {
  .best {
    font-size: 52px;
  }
}
@media only screen and (min-width:481px)  and (max-width:1280px){
  .box-text p{
    font-size: 39px;
  }
}


