
<app-header [list_of_prod]="list_of_prod" *ngIf="!editor"></app-header>
<app-aladin *ngIf="editor" [models]="list_gadget" [data]="editor_data"></app-aladin>

<div class="container" *ngIf="!editor">
      <div class="row">
        <div class="col-sm-6 box-text best">
          <p>Les meilleurs Gadgets aux meilleurs Prix</p>
          <div class="decouvrir">
            <a style="color:white;"  class="btn btn-decouvrir" (click)="View()">Découvrir</a>
          </div>
        </div>
        <div class="col-sm-6 box-image">
          <img class="mag" src="/assets/image/objets-publicitaires.png" alt="">
        </div>
      </div>
     <br><br><br><br>
      <div class="row">
     
        <app-search-result></app-search-result>
     
      <app-insert-gadget></app-insert-gadget>
      </div>
  

     <div class="row" id="view">


    <app-list-product [list_of_prod]="list_of_prod"></app-list-product>


 </div>

</div>
  <app-footer *ngIf="!editor"></app-footer>





