@import url('https://fonts.googleapis.com/css2? family= Montserrat & family= Open+Sans & family= Raleway & family = Homard &family = Oswald  &family= Roboto & display=swap'); 
p{
    font-family : 'times', sans-serif;
    font-size: 17px;
}
h4{
    text-align: center;
    color: #324161;
    font-weight: bold;
}
h6{
    font-weight: bold;
    margin-left:10px;
}
