<div class="container"  >
    <div class="row">
        <div class="col-6">
            <img [src]="data.urls[0]" alt="" hidden>
            <app-sliding [data]="data.urls"></app-sliding>

        </div>
        <div class="col-6">
            <h1  class="title-text"> {{data.design_title}}</h1>
            <p class="prix" > <strong style="color: red;"*ngIf="shw" >{{total_cost}} fcfa</strong></p>

             <br>
                <div class="description" *ngIf="data.productype_label=='tasse'">
                    <p>
                     <li>Savourez chaque gorgée avec un mug personnalisé.</li>
                     <li> Contenance de 325 ml et résistant au four à micro-ondes</li>
                     <li> Mug personnalisable avec des photos, du texte ou d'autres éléments</li>
                     <li> Besoin d'aide ? Demandez l’aide d’un graphiste professionnel.</li>
                     <li>Matière : porcelaine Taille :9, 7 Diamètre :8,2.L'impression apparait lorsque la tasse contient un liquide chaud a l'interieur</li>
                    </p>
                </div>
                <div class="stylo" *ngIf="data.productype_label=='stylot'">
                    <div class="option" *ngFor="let item of detail">
                        <input type="radio" class="btn-check" name="opt" id="standper" autocomplete="off">
                       <label class="btn btn-outline-danger" for="standper" (click)="print_type(item)">{{item.printing_type_label}}</label>
                       </div>

                    <div class="description">
                     <li>Instrument qui sert à écrire, dessinée Matière : plastique et métal avec des finitions de haute qualité</li>
                    </div>
                </div>
                <div class="porte cle" *ngIf="data.productype_label=='porte cle'">
                 <div class="option" *ngFor="let item of detail">
                  <input type="radio" class="btn-check" name="opt" id="standper" autocomplete="off">
                 <label class="btn btn-outline-danger" for="standper" (click)="print_type(item)">{{item.printing_type_label}}</label>
            
                 </div>
                 <br>
                 <div class="description">
                  <li>Anneau ou étui pour porter des clés, parfois orné d'une breloque.</li>
                  <li> Matière: Plastique où Métal</li>
                 </div>
             </div>
             <div class="row">
                <div class="quantite">
                    <div class="moins">
                        <a role="button" (click)="moins()">
                          <i class="fal fa-minus-circle fa-2x"></i>
                        </a>
                    </div>
                    <div class="quate">
                        <input type="number" class="form-control qty" [(ngModel)]="quantite" disabled>
                    </div>
                    <div class="plus">
                      <a role="button"  (click)="plus()">
                          <i class="fal fa-plus-circle fa-2x"></i>
                      </a>
                  </div>
            </div>
            <br>
         
             </div><br>
          <button class="btn-success per" type="submit" style="float:left;" (click)= "go($event)">Personnaliser</button>
          <button class=" btn btn-primary btn-retour" type="submit" style="float: left;" style="background-color: royalblue;" (click)="back()">Retour</button>
    <br><br>
        </div>
       </div>
</div>