$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 

.bt{
    position: relative;
   
}
a{
    white-space: normal;
}

canvas{
    background: white !important;   
    background-origin: border-box;
    background-size: cover;
}





.list{
    margin-right: 1.5em;
}
nav{

    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    background-color: #e3e4e3;
    height: 55px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;

   //font-size: 12px;
}
ul{
    font-size: 12px;
    height: 100%;
}
.fal, .far, .fa, .fas,.fad{
    color: black;
}
ul li p{
    color: black;

}
.bt{
    background: green;
}
li a{
    vertical-align: middle;
    color: white;
    font-size: 26px;
    //padding-right: 41px;
}
//css boutton
.bout{
    background: #324161;
    height: 87px;
    margin: 8px;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    width: auto;
   
}
.col-1{
width: 12%;
background-color: #e3e4e3;
text-align: center;
color: white;
}
.fa-tshirt, .fa-text,.fa-download,.fa-shapes,.fa-book{
    color: white;
    margin-top: 8px;
}
.bout a{
    color: white;
    text-decoration: none;
}
.col-2{
    width: 100%;
    margin-top: 6px;
}
.col-2 img{
    background-color: #e3e4e3;
}

.nav-bar{
    display:flex;
    align-items: center;

}


.card{
    border: none;
}
.col-4{
    border: solid 1px;
    border-bottom: none;
    border-left: navajowhite;
    height: 487px;
    border-top: none;
    
}
.row-cols-3{
    overflow: scroll;
    height: 487px;
}
h5{
    font-family: 'Roboto',sans-serif;
}
.img{
    width: 100%;
}
//ccs images

.col-8{
  width: max-content;
  text-align: center;
  top:2em;
  padding-top: 1em;
  height: max-content;
  padding-bottom: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  width: 100%;

}
.row .pages{
 position: relative;
 margin-left: 31em;
 margin-top: -5rem;

}

.drawing_area{
  background-color: #e3e4e3 !important;
  border: solid #324161;
  width: max-content;
  height: max-content;
  position: absolute;
  max-width: 100%;
  text-align: center;

}
.image{
    display: flex;
    margin-top: auto;
    width: 100%;
    position: inherit;
    overflow: hidden;
    //margin-left: 32rem;
    //overflow-x: scroll;
}

//import css
.modal-footer{
justify-content: center;
}
//css import
.btne{
background-color: #324161;
color: white;
font-family: 'Roboto',sans-serif;
}
.modal-body{
font-family: 'Times New Roman',sans-serif;
color:black;
font-weight: bold;
height: 300px;
background: #e3e4e3;
}
.ody{
    position: relative;
    top: 93px;
}
.fat{
    color:black;
}
.palette a{
    margin: 10px;
    text-decoration: none;
   

    
}
.point{
    margin-top: 5px;
}
.palette a h6{
    font-size: 10px;
    color: black;
}
.couleur a{
    margin: 10px;
    
}
.palette{
    display: contents;
}
.cou{
    border: solid 1px #e3e4e3 ;
}
.fa-circle{
    color: red;
}
input:focus{
    box-shadow: none;
}
select:focus{
    box-shadow: none;
}
.taille a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.tete{
    border: solid 1px #e3e4e3;
    width: 74px;
   
}
h6, strong{
    font-family: 'Roboto',sans-serif;
}
h5{
    font-size: small;
}
.range{
    border: solid 1px #e3e4e3;
    width: 100%;
    //margin-left: 12px;
}
//images
.backg{
    overflow-y: scroll;
    margin-top: 8px;
    height: 29rem;
}

.mg{
    position: relative;
    height: 9rem;
    width: 138px;
    //border: dashed #324161 1px;
    margin: 5px;

}
.grang{
width: auto;
position: relative;
height: 23rem;
}
h1{
    color: black;
    font-family: 'Roboto',sans-serif;
    margin: 6px;
}
.lin{
    background-color: #e3e4e3;
    

}
.mobile{
    display: none;
}



.custom {
    background: #324161;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #fab91a;
    width: 7em;
    transition: 0.5s;
    overflow: hidden;
    height: 36rem;
}

.custom li {
  list-style: none;
  color: white;
  font-size: 15px; 
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.custom li:hover {
  background: #324161;
 
}
.Mobile{
    visibility: hidden;
}
.custom li.active:before {
  content: '';
  position: absolute;
  top:-20px;
  right: 0px;
  width: 20px;
  height:20px;
  background: transparent;
  border-radius: 50%;
 
}

.custom li.active:after {
  content: '';
  position: absolute;
  bottom:-20px;
  right: 0px;
  width: 20px;
  height:20px;
  background: transparent;
  border-radius: 50%;
 

}


.custom li a p{
    font-size: 0.9rem;
    color: white !important;
}
.roat{
 margin-top: 10% auto !important;
    position: relative;
    border: 1px solid;
    margin-left: 60%;
    margin-right: 9%;
    bottom: 14rem;
}
@media only screen and  (max-width:480px) {
   .row ul{
        display: contents;
    }
    .row  ul li{
        margin: 1rem;
        background: #324161;
        border-radius: none;
        border-top-left-radius:0;
  border-bottom-left-radius: 0;

    }
    .row  ul li p{
        display: none;
    }
    .col-4{
        width: 100%;
        border: none;
    }
    #aladin{
        width: 300px !important;
       text-align: center !important;
       position: relative !important;
       box-sizing : border box;
       left: -24px !important;
      
    }
    .drawing_area{
        background-color: transparent !important;
        border: none;
    }
    .drawing_area .container{
        margin-left: -3rem;
        margin-top: -12rem;
    }
    .container .pages{
        top: 1rem;
    }
    .row-cols-3{
        height: 261px;
    }
    .card-columns .card{
        width: 56%;
    }
    .link{
        display: none;
    }
    .Mobile{
        visibility: visible;
        visibility: visible;
        width: 50rem;
        position: fixed;
        left: -2rem;
        bottom: 0;
    }
    .ordinateur{
    width: 100rem;
    position: relative;
    left: -1rem;
    }
}
@media only screen and (max-width:320px){
    .row ul{
         display: contents;
     }
     .row  ul li{
         margin: 1rem;
         background: #324161;
         border-radius: none;
         border-top-left-radius:0;
   border-bottom-left-radius: 0;
 
     }
     .row  ul li p{
         display: none;
     }
     .col-4{
         width: 100%;
         border: none;
     }
     #aladin{
         width: 300px !important;
        text-align: center !important;
        position: relative !important;
       
     }
     .drawing_area{
         background-color: transparent !important;
         border: none;
     }
     .drawing_area .container{
         margin-left: -3rem;
         margin-top: -12rem;
     }
     .container .pages{
         top: 1rem;
     }
     .row-cols-3{
         height: 261px;
     }
     .card-columns .card{
         width: 56%;
     }
     .link{
         display: none;
     }
     .Mobile{
         visibility: visible;
         width: 50rem;
         position: fixed;
         left: -2rem;
         bottom: 0;
     }
     .ordinateur{
     width: 100rem;
     position: relative;
     left: -1rem;
     }
 }
 /*Tablet Portrait*/
 @media only screen and (min-width: 481px) and (max-width: 1280px) {
    .row .col-8.drawing_area{
        background-color: transparent !important;
        border: none;
        width: 40% !important;
    }
    #aladin{
        width: 300px !important;
       text-align: center !important;
       position: relative !important;
      
    }
    .card-columns .card{
        width: 175px;
    }
    .container .pages{
        position: relative;
        margin-right: -4em;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
}  