:root{
  --bleu:#324161;
  --jaune:#fab91a;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#body{
  margin-top: 5%;
  
  position: static;
  width: 100%;
}


h5{
  font-weight: bold;
  font-size: 40px;
}

h5 .text-blue{
  color: #324161;
}
h5 .text-yellow{
  color: #ffbc00;
}

.text-lorem{
  font-weight: 500;
}


:root{
  --bleu:#324161;
  --jaune:#fab91a;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.card:hover .middle {
  opacity: 1;
}
.card:hover .img {
  opacity: 0.9;
}
.im{
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  left: 49%;
  bottom: 45px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.btn{
  background: #324161;
  color: white;
  position: relative;
  bottom: 81px;
}
.btn:hover{
  color: white;
}
.des{
  font-size: 12px;
  color: black;
  font-weight: normal;
}
img{
  width: 100%;
  background: #ccc;
}
.card{
  border: none;
  box-shadow: none;
  margin: 12px;
  width: 238px;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  content:'Je personnalisee';
}
a{
  text-decoration: none;
}
p{
  font-family: 'Poppins',sans-serif;
  color: #324161;
  font-weight: bold;
}
strong{
  font-family: 'Roboto';
  color: #fab91a;
  
}
.prix{
  font-size: 20px;
}
.card-body{
 
  width: 225px;
  margin-left: 11px;
  margin-top: -48px;
}
.card-body:hover{
  border: none;
}
.card-columns{
  display: contents;
  margin-top: 15px;
}
@media screen and (max-width:768px){
  .card{
    position: relative;
    left: 33px;
    margin: 12px;
  }
  .card-columns{
    display:inline-table;
    margin-left: -40px;
    
  }
  .download{
    margin-top: 248px;
  }
  .section-personnalisation{
    margin-left: 30px;
  }
}
h6{
  //font-family: 'MonteCarlo';
  font-weight: bold;
}
button{
    position: relative;
    bottom:auto;
    height: 100%;
    border: none;
    background: transparent !important;
    top: 0%;
   
}

.download:hover{
box-shadow: none;

}
.far{
  margin: 12px;
}
.download{
 background-color: transparent;
 border: solid 1px #eee;
 height: 217px;
 bottom: 39px;
 
 justify-content: center;
 vertical-align: middle;
 
  }
  .download:hover{
    cursor: pointer;
  }
  label:hover{
    cursor: pointer;
  }
  
  @media screen and  (max-width:768px) and (orientation:landscape){
    .card{
      position: relative;
      left: 33px;
      margin: 12px;
    }
    .card-columns{
      display:inline-table;
      margin-left: -67px;
      
    }
    .download{
      margin-top: 248px;
    }
  }