
<app-header [list_of_prod]="list_of_prod" *ngIf="!editor"></app-header>

<app-aladin [data]="data_prod" *ngIf="editor" [models]="list" id="editor"></app-aladin>
    
 <div class="container" *ngIf="!editor">
      <div id="body">
        <div class="header">
          <div class="header-blue" >
            <H5 class="text">
              <span class="text-blue"> IMPRESSION AFFICHE </span>
              <span class="text" >GRAND FORMAT</span>
            </H5>
            <p class="text" >{{data}}</p>
          </div>
        </div>
      </div>

      <div class="section-personnalisation">
        <div class="card-columns">
         <app-insert-disp></app-insert-disp>


          <app-search-result></app-search-result>
           <app-list-product [list_of_prod]="list_of_prod"></app-list-product>
         
    
    </div>
    
  </div>
  
    </div>

    <app-footer  *ngIf="!editor"></app-footer>
   
  
  

    
  
  