img{
    margin: 12px;
}
.btn-check:checked+.btn-outline-danger{
    border-color: #324161;
    background:transparent;
    box-shadow: 0 0 0 0.10rem #324161;
    color:#324161;


}
.btn-check:hover+.btn-outline-danger{
    background:transparent;
    color:#324161;
}
.btn-check+.btn-outline-danger{
    background:transparent;
    color:#324161;
    border-color:#fab91a;
    text-transform:none;
}
label{
    margin:8px;
    font-weight:bold;
}
.ebtn{
    background: #fab91a;
    box-shadow: none;
    border-radius: 36px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin: 7px;
}
.btnt{
   box-shadow: none;
}
.btnt:hover{
    box-shadow: none;
}
.cont{
    width: 20%;
    margin-left: -2px;
    margin-top: 5px;
    text-align: center;
}
.btne{
    width: 41%;
    height: 50px;
    margin-right: 66px;
    margin-top: 65px;
   // margin-top: 236px;
    font-family: 'Poppins';
    font-weight: bold;
    border: none;

}


@media screen and (max-width:768px) {
    .col-6{
        width: 100%;
        border: none;
    }
    .btn-warning{
        background-color: rgb(250, 59, 52);
    position: absolute;
    left: 0rem;
    }
    .okey{
        position: absolute;
        left: 9rem;
    }
    .col-6 .vise{
        display: grid;
    }
    .ebtn{
        width:auto;
    }
    img{
        width: 100%;
    }
}
.okey{
   margin-inline: auto;
   position: absolute;
   color: white;
}
.col-6 .vise{
    display: flex;
}
