
<div class="container"  >
    <app-upload-form *ngIf="!showme" [data]="category" (file_type)="OnRadioClick($event)"></app-upload-form>

    <div class="row" *ngIf="showme">
 
        <div class="col-6" style="border: solid 1px green;text-align: center;">
            <h6>visuel</h6>
            <div class="visuel vise">   
                <img [src]="url" width="250"  >
                <img [src]="imagepreview" width="250" >
            </div>
            <h6>maquette</h6>
            <div class="maquette" style="display: flex;">
               <div class="row">
               <div class="col-6" style="overflow-x:scroll;">
                <pdf-viewer [src]="viewimage" [render-text]="true"[original-size]="false" style="width: 300px; height: 500px;"></pdf-viewer>
                <a role="button"><strong style="color: #324161;">{{filename1}}</strong></a>

               </div>
               <div class="col-6">
                <pdf-viewer [src]="ViewImg" [render-text]="true" [original-size]="false" style="width: 300px; height: 500px;"></pdf-viewer>
                <a role="button"><strong style="color: #324161;">{{filename2}}</strong></a>

               </div>

               </div>
                
            </div>
        </div>
        <div class="col-6">
           <!--tasse-->
           <h2>{{gadget_type}}</h2>
           <div class="tasse" *ngIf="tasse">
             <div class="type">
              <strong style="color:#324161"> Les type de tasses</strong>
              <p><strong style="color: red;">{{err}}</strong></p>
             </div>
             <select name="slect" id="select" class="form-control" (change)="onchange1($event)">
              <option value="">---Choisir le type de tasse---</option>
              <option *ngFor="let item of tasse_print" [value]="item.printing_id">{{item.printing_type_label}}</option>
            </select>
           </div>
           <br>
           <!--stylo-->
           <div class="stylo" *ngIf="stylo">
            <strong style="color:#324161"> Les type de Stylo</strong>
            <p><strong style="color:red" *ngIf="ert">{{error}}</strong></p>
             <div class="type">

                <input type="radio" class="btn-check" name="options" id="stylo" autocomplete="off">
                <label class="btn btn-outline-danger" for="stylo" (click)="showpblicprice()" >Stylo grand public </label>

                <input type="radio" class="btn-check" name="options" id="semi" autocomplete="off" disabled>
                <label class="btn btn-outline-danger" for="semi" aria-disabled="true" >Stylo sémi VIP </label>

                <input type="radio" class="btn-check" name="options" id="vip" autocomplete="off" disabled >
                <label class="btn btn-outline-danger" for="vip" aria-disabled="true">Stylo VIP </label>
            </div>
            <br>
            <strong style="color:#324161"> Les type d'impression</strong>

            <p><strong style="color:red" *ngIf="er">{{err}}</strong></p>
            <div class="impri">
              <select name="slect" id="select" class="form-control" (change)="onchange($event)">
                <option value="">---Choisir le type d'impression---</option>
                <option *ngFor="let item of printing" [value]="item.printing_id">{{item.printing_type_label}}</option>
              </select>
            </div>
           </div>
           <br>
           <!--porte cle-->
          <div class="cle" *ngIf="portcle">
           <strong style="color:#324161"> Les type de Porte-clé</strong>
           <p><strong style="color: red;">{{err}}</strong></p>
           <div class="portecle">
            <select name="slect" id="select" class="form-control" (change)="onchange2($event)">
              <option value="">---Choisir le type de porte cle---</option>
              <option *ngFor="let item of porte_print" [value]="item.printing_id">{{item.printing_type_label}}</option>
            </select>
           </div>
          </div> 
             <br>
            <!--question-->
            <div class="question" style="display: flex;">

                <h6 style="margin-top: 10px;">Y'a-t-il une face arrière?</h6>
                 <div class="oui">
                   <label for="rde">Oui</label>
                   <input type="radio" name="rd" id="rde" (click)='showoui()'  >
                 </div>
            </div>
               <!--fin-->
               
                 <!--visuel-->

                 <div class="btn ebtn" style="width: 44%" *ngIf="!oui">

                    <label class="des" for="front1_side">
                    Modifier visuel
                      <i class="fas fa-arrow-circle-up fa-2x"></i>
                    </label>
                      <input type="file" name="u" id="front1_side" hidden (change)="Uplode_front($event)">
                  </div>

                 <div class="visuel" *ngIf="oui" >
                    <h6>importer vos visuels</h6>
                    <p><strong style="color:red" >{{errfile}}</strong></p>
                    <div class="btn ebtn" style="width: 44%">
                
                        <label class="des" for="front_side">
                        Face avant
                          <i class="fas fa-arrow-circle-up fa-2x"></i>
                        </label>
                          <input type="file" name="u" id="front_side" hidden (change)="Uplode_front($event)">
                      </div>
                    <div class="btn ebtn" style="width: 44%">
                
                      <label class="des" for="back_side">
                      Face arrière
                        <i class="fas fa-arrow-circle-up fa-2x"></i>
                      </label>
                        <input type="file" name="u" id="back_side" hidden (change)="Uplode($event)">
                    </div>



                  </div>
                  <br>
                <!--fin--> 
               <!--maquette-->
               <h6>Importer vos maquettes:</h6>
               
               <div class="maquette" style="display: flex;">
                <div class="btn ebtn" id="mkr">
                  <label class="des" for="file_mark_gad_f">
                  importe maquette face avant
                  <i class="fas fa-arrow-circle-up fa-2x"></i>
                  </label>

                  <input type="file"
                    id="file_mark_gad_f"
                     hidden
                     (change)='Uplade($event)'
                     allowPdfPreview= true
                     pdfPreviewHeight= 320
                     name="filepond"
                     allowMultiple=true  
                     >
                 </div>

                 <div class="btn ebtn" *ngIf="oui" >
                  <label class="des" for="fil_b">
                  importe maquette face arrière
                  <i class="fas fa-arrow-circle-up fa-2x"></i>
                  </label>
                  <input type="file"  id="fil_b" hidden (change)='Upladeimage($event)'>
                 </div>
                
               </div>
               <p><strong style="color:red" >{{errfile4}}</strong></p>
               <br>
               <div class="pri">
                <h4 style="float: left;"><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">
                  prix unitaire:</p>{{Price}}  FCFA</h4>
              </div>
              <br>
              <br>
               <!--qantite-->
                <div class="quantite" *ngIf="tasse">
                  <label for="">Quantité:</label>
                  <input type="text" class="form-control" [(ngModel)]="quantitetasse">
                </div>
                <!--quantite de stylo et porte-cle-->
                <div class="quantite" style="display:flex;" *ngIf="stylo || portcle">
                  <label for="">Quantité</label>
                  <div class="moins">
                    <a class="btn btnt" (click)="qtyminus()">
                      <i class="fal fa-minus-circle fa-2x"></i>
                    </a>
                  </div>
                  <input  type="text" class="form-control cont" disabled  [(ngModel)]="qnte">
                  <div class="plus">
                    <a class="btn btnt" (click)="qtyplus()">
                      <i class="fal fa-plus-circle fa-2x"></i>
                    </a>
                  </div>
                </div>
                <br>
                
            

                <div class="panier">
              
                    <button class=" btn btn-primary btne" type="submit" style="float: left;" (click)="ChangeComponent($event)" style="background-color: royalblue;">Fermer</button>

                  <button class="btn btn-success  okey btne" type="submit" style="float: right;" (click)="addtocart()"><i class="fas fa-cart-plus fa-2x"></i></button>
                </div>


        </div>
    </div>
</div>