

<div class="container">
    <app-upload-form *ngIf="!showme" [data]="category" (file_type)="OnRadioClick($event)"></app-upload-form>

    <div class="row dis" *ngIf="showme">
        <div class="col-6" style="text-align: center;">
            <h6>Le visuel</h6>
            <img [src]="url" width="600" alt="">
            <div class="row">
                <h6>La  maquettes</h6>
               
                <div class="col-12" style="text-align: center;">
                    <pdf-viewer [src]="viewimage"[render-text]="true"[original-size]="false" class="pdf"></pdf-viewer>
                    <a role="button"><strong style="color: #324161;" style="margin-top: 30px;">{{filename}}</strong></a>
                </div>
              </div>
        </div>
        <div class="col-6">
          <br>
          <h3>{{file_type}}</h3>
          <br>
          <div class="row"  *ngIf="estvinyle">
              <h5>Type de Vynile</h5>
              <span style="color: red;font-weight: bold;" *ngIf="opaque==false && transp==false" >{{dimerr}}</span>
              <div class="col">
                <input type="radio" class="btn-check" name="vit" id="opaq" autocomplete="off">
                <label class="btn btn-outline-danger" for="opaq" (click)="showopaque($event)">Vinyle opaque</label>
              
                <input type="radio" class="btn-check" name="vit" id="trannt" autocomplete="off">
                <label class="btn btn-outline-danger" for="trannt" (click)="showtransp($event)" >Vinyle Transparent</label>     
              </div>
                   
          </div>
       
            <div class="row" *ngIf="estbache">
               
                    <h6>Type d'impression</h6>
                <div class="choix">
                   
                    <select name="select" id="select" class="form-control" (change)="onchange2($event)">
                        <option value="">----Choisis un type de support----</option>
                        <option *ngFor="let item of bache_print" [value]="item.printing_id">{{item.printing_type_label}}</option>
                    </select>
              
                    
                </div> 
            </div>   
         
             <div class="row" *ngIf="estmicro">
               
                <h6>Type d'impression</h6>
               <div class="choix">
                <select name="select" id="select" class="form-control" (change)="onchange3($event)">
                    <option value="">----Choisis un type d'impression----</option>
                    <option *ngFor="let item of micro_print" [value]="item.printing_id">{{item.printing_type_label}}</option>
                </select>
                 
                </div> 
           </div>
         
          
           

             <div class="row" *ngIf="estkake">
                   <h5>Type de support:</h5>
                   <span style="color: red;font-weight: bold;" *ngIf="standPkake==false && standBkake==false && supBkake==false && supPkake==false">{{err}}</span>
               <div class="col-12">
               
               <div class="choix" >
                 
                    <select name="select" id="select" class="form-control" (change)="onchange1($event)">
                        <option value="">----Choisis un type de support----</option>
                        <option *ngFor="let item of kakemono_print" [value]="item.printing_id">{{item.printing_type_label}}</option>
                    </select>
                </div>
               </div>
             </div>
          

            <div class="row" *ngIf="estvinyle" >
                <h5>Type d'impression:</h5>
                <span style="color: red;font-weight: bold;" *ngIf="standSD==false && standD==false && supSD==false && supD==false">
                    {{err}}
                </span>
          
            <div class="col-12">
          
             <div class="choix"  >
                <select name="select" id="select" class="form-control" (change)="onchange($event)">
                    <option value="">----Choisis un type d'impression----</option>
                    <option *ngFor="let item of printing" [value]="item.printing_id">{{item.printing_type_label}}</option>
                </select>
                 
              </div> 
             </div>
        </div>
        <div class="btn btnet" >
            <label class="des" for="file_disp">
            importer la maquette
            <i class="fas fa-arrow-circle-up fa-2x"></i>
            </label>
            <input type="file" name="" id="file_disp" hidden (change)="Uplade($event)" >
        </div>
           <span style="color: red; font-weight: bold;" *ngIf="erimport">{{error}}</span>
         <!--fin-->
            <br>   
            <div class="dimension" *ngIf="estbache">  
                <h6> Dimension</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Longueur</label>
                        <input type="number" class="form-control" aria-describedby="addon3" [(ngModel)]="longueur" (input)="Change3($event)" required>
                        <span class="input-group-text diste" id="addon3">cm</span>
                    </div>
                    <div class="col-sm">
                        <label for="">Hauteur</label>
                        <input type="number" class="form-control" aria-describedby="addon4" [(ngModel)]="largeur" (input)="Change4($event)"
                        required>
                        <span class="input-group-text diste" id="addon4">cm</span>
                    </div>
                  

                  
                    
                </div>
            </div>
            <br><br>
            <div class="prix">
                <h4 ><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">prix unitaire:</p>{{Price}} FCFA</h4>
                <input type="number" hidden [(ngModel)]="Price">
            </div>
            <br>
            <div class="quantite">
                <h6>Quantité</h6>
                <input type="number" class="form-control" [(ngModel)]="quantite" required>
            </div>
            <br>

            <div class="dimension" *ngIf="estvinyle">  
                <h6> Dimension du Vinyle</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Largeur</label>
                        <input type="number" class="form-control" aria-describedby="addon2" [(ngModel)]="longueur" (input)="Change($event)" required>
                        <span class="input-group-text diste" id="addon2">cm</span>
                    </div>
                    <div class="col-sm">
                        <label for="">Hauteur</label>
                        <input type="number" class="form-control" aria-describedby="addon" [(ngModel)]="largeur" (input)="Change2($event)" required>
                        <span class="input-group-text diste" id="addon">cm</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="perimetre" hidden>  
                </div>
            </div>
            
                <div class="choix" *ngIf="format">
                    <div class="row">
                        <h5>Format de l'etiquette</h5>
                        <span style="color: red;font-weight: bold;" *ngIf="rond==false && rectangle==false">{{errond}}</span>

                        <div class="col-sm">
                            <input type="radio" class="btn-check" name="figure" id="superk" autocomplete="off">
                            <label class="btn btn-outline-danger" for="superk" (click)="showrectangle($event)" >rectangulaire</label>
                        </div>
                        <div class="col-sm">
                            <input type="radio" class="btn-check" name="figure" id="supe" autocomplete="off">
                              <label class="btn btn-outline-danger" for="supe" (click)="showrond($event)"  >circulaire </label>
                        </div>
                    </div>
                </div>
              <br>
                <div class="diametre" *ngIf="diametre">
                    <h5> Entrer le diametre</h5>
                    <span style="color: red;font-weight: bold;" *ngIf="rond==true && Diam==undefined">{{errdiam}}</span>
                    <div class="col-sm">
                        <label for="" >Diamètre</label>
                        <input type="number" class="form-control" aria-describedby="addon6" [(ngModel)]="Diam" >
                        <span class="input-group-text diste" id="addon6">cm</span>
                    </div>
                </div>
              <div class="dimansion" *ngIf="dimetiq" >
                  <div class="row">
                      <h5>Dimension de l'etiquette</h5>
                    <div class="col-sm">
                        <label for="" >Hauteur</label>
                        <input type="number" class="form-control" aria-describedby="add" [(ngModel)]="haut" >
                        <span class="input-group-text diste" id="add">cm</span>
                    </div>
                    <div class="col-sm">
                        <label for="" >Largeur</label>
                        <input type="number" class="form-control" aria-describedby="addonz" [(ngModel)]="large" >
                        <span class="input-group-text diste" id="addon7">cm</span>
                    </div>
                  </div>
              </div>
            <div class="dimension" *ngIf="estmicro">  
                <h6> Dimension</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Longueur</label>
                        <input type="number" class="form-control" aria-describedby="ad" [(ngModel)]="longueur" (input)="Change6($event)" required>
                        <span class="input-group-text diste" id="ad">cm</span>
                    </div>
                    <div class="col-sm">
                        <label for="">Hauteur</label>
                        <input type="number" class="form-control" aria-describedby="addo" [(ngModel)]="largeur" (input)="Change5($event)" required>
                        <span class="input-group-text diste" id="addo">cm</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="perimetre" hidden>  
                </div>
            </div>

        <br>
        
        
            <button class=" btn btn-primary btn-retour"  type="submit" style="float: left;" (click)="ChangeComponent(changeit)">Retourner</button>

            <button class="btn-success btne" type="submit" (click)="AddTocart()">Ajouter au panier</button>
        </div>
      
    </div>
</div>



