
<app-header [list_of_prod]="list_of_prod" *ngIf='!editor'></app-header>
<app-aladin *ngIf="editor" [models]="list_data" [data]="dt"></app-aladin>

<div class="container" *ngIf='!editor'>
    <div id="body">
      <div class="image">
        <div class="box-text">
          <p>IMPRESSION DE TOUT SUPPORT PAPIER</p>
          <div class="decouvrir">
            <a style="color: white; margin-top: 67px;" class="btn btn-decouvrir" (click)="View()">Découvrir</a>
          </div>
        </div>
    </div>
    </div>
    <div class="row">
      <app-search-result></app-search-result>
    </div>
<div class="row">
  <app-insert-print></app-insert-print>
    </div>
    <div class="row">
      <app-list-product [list_of_prod]="list_of_prod"></app-list-product>
    </div>
  </div>

<app-footer *ngIf="!editor"></app-footer>
