

 <app-header></app-header>


 <div class="body">
   <div class="card">
    <div class="header">
      <div class="img">
        <a href="/home">
        <img src="assets/image/logo.png" >
      </a>
      </div>
      <h6 id="typed"></h6>
    </div>
    <form class="donnee">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="user dr">
        <div class="nom dx">
          <input type="text"  class="input"   name="lname" [(ngModel)]="data.lname" />
          <label for="nom" class="lbl">Nom</label>
        </div>
        <div class="prenom dx">
          <input type="text"   class="input"   name='fname' [(ngModel)]="data.fname"/>
          <label for="prenom" class="lbl">Prénoms</label>
        </div>
      </div>
      <!-- Email input and telephone -->
     
        
         <div class="tel-mail dr">
          <div class="email dx">
            <input type="email"  class="input"   name="email" [(ngModel)]="data.email"/>
            <label for="mail" class="lbl">E-mail</label>
            <div *ngIf="errmsg.email" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infoemail}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="tel dx">
            <input type="text"    class="input"  value="+225"  name="phone" [(ngModel)]="data.phone" />
            <label for="phone" class="lbl">Téléphone</label>
          </div>

          <div class="tel dx">
            <label for="Sex">Sexe</label>
            <select id="Sex" (change)="userSEX($event)">
           <option *ngFor="let item of user_sex" [value]="item.id">{{item.value}}</option>
            </select>
          </div>
          <div *ngIf="errmsg.phone" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infophone}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
          <!-- Password input -->
  <div class="tel-mail dr">
    <div class="email dx">
      <input type="password"   class="input"    name="password" [(ngModel)]="data.password"  />
      <label for="password" class="lbl">Mot de Passe</label>
    </div>
    <div class="tel dx">
      <input type="password"   class="input"  name="cpwd" [(ngModel)]="data.cpwd"   />
      <label for="cpwd" class="lbl">Confirmer</label>
    </div>
    <div *ngIf="errmsg.password" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infopwd}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!--fin-->
  <div class="d-flex justify-content-center" *ngIf="show">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
      <button type="submit" class="btn btn-warning btn-block mb-4" id="sub" (click)="register($event)">Je m'enregistre</button>
  
  
      <hr> 
      <!----<button type="submit" class="btn btn-primary btn-block mb-4"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>  S'incrire avec mon compte facebook</button>
      --> 
     </form>
        <div class="new">
        avez- vous un compte? <a routerLink="/users/login">Connecter-vous</a>
      </div>
  </div>
</div> 


<footer style="bottom: 0;position: relative; display: block;" hidden>
  <app-footer></app-footer>

</footer>

<footer class=" justify-content-center text-lg-left" >
  <div class="text-center p-3" >
   <strong style="float: left;"> © 2021 Aladin </strong>
      <h5 style="position: relative;
      right: 53px; display: block;">Reseaux sociaux:</h5>
    <a href="https://www.instagram.com/AladinCi" class="text-dark"><i class="fab fa-instagram  fa-2x  "></i></a>
    <a href="https://twitter.com/AladinCi" class="text-dark"><i class="fab fa-twitter  fa-2x  "></i></a>
    <a href="https://www.facebook.com/AladinCi" class="text-dark"><i class="fab fa-facebook  fa-2x  "></i></a>
  </div>
  </footer>