
  <div class="container"     style="margin-top: 40px;">
    <div class="row">
        <div class="col-6 image">
          <app-sliding [data]="data.urls"></app-sliding>

        </div>
            
         <div class="col-6">
          <h1  class="title-text"> {{data.design_title}}</h1>
          <p class="prix" *ngIf='shw'> <strong style="color: red;">{{total_cost}} fcfa</strong></p>
          

           <div class="impression" *ngIf="data.productype_label=='carte de visite'">
            <h6>qualité</h6>
            <select name="name" id="name_ql" class="form-control" (change)="onloadqualite($event)" >
              <option value="choisir un type d'impression">choisir un type de qualité</option>
              <option *ngFor="let item of prnt" [value]="item.printing_id">{{item.printing_type_label}}</option>  
            </select>
         
          <!--taille-->
         
           <h6>Pelliculage</h6>
           <select name="name" id="name" class="form-control" (change)="onloadpelicule($event)">
             <option value="choisir un type de pelliculage">choisir un type de pelliculage</option>
             <option *ngFor="let item of pellicule" [value]="item">{{item}} </option> 
           </select>
        
         
           <h6>bordure</h6>
           <select name="name" id="name" class="form-control" (change)="onloadbordure($event)">
             <option value="choisir un type de bordure">choisir un type de bordure</option>
             <option *ngFor="let item of bordure" [value]="item">{{item}} </option>
             
           </select>
           </div>

         <!--carnet-->
         <div class="carnet" *ngIf="data.productype_label=='carnet'">
          <div class="row">
            <label for="">format</label>
            <div class="col-3" *ngFor="let item of  fmt">
              <input type="radio" class="btn-check" [name]="item.other_format" [id]="item.other_format" autocomplete="off" >
              <label class="btn btn-outline-danger" [for]="item.other_format"  style="width: 100%;" (click)="getFormat(item)" >{{item.other_format}}</label>
            </div>
    
          </div>
          <br>
          <div class="row">
            <h6>Nombre de couches</h6>
            <div class="col-3" >
              <input type="radio" class="btn-check" name="opt" id="superde" autocomplete="off" >
              <label class="btn btn-outline-danger" for="superde"  style="width: 100%;" (click)="showsouche1()" >2 souches</label>
            </div>
            <div class="col-3" >
               <input type="radio" class="btn-check" name="opt" id="superd" autocomplete="off" >
               <label class="btn btn-outline-danger" for="superd" style="width: 100%;" (click)="showsouche2()" >3 souches</label>
            </div>
            <div class="col-3" >
              <input type="radio" class="btn-check" name="opt" id="super" autocomplete="off" >
              <label class="btn btn-outline-danger" for="super" style="width: 100%;" (click)="showsouche3()" >4 souche</label>
            </div>
          </div>
        </div>


          <!--quantite-->
          <br>
          <h6 style="position: relative;
          left: 2rem;">quantités</h6>
          <div class="quantite">
              <div class="moins">
                  <a role="button" (click)="moins()">
                    <i class="fal fa-minus-circle fa-2x"></i>
                  </a>
              </div>
              <div class="quate">
                  <input type="number" class="form-control qty" [(ngModel)]="qty" disabled>
              </div>
              <div class="plus">
                <a role="button"  (click)="plus()">
                    <i class="fal fa-plus-circle fa-2x"></i>
                </a>
            </div>
          </div>
            <button class="btn-success per" type="submit" style="float:left;" (click)="go($event)" >Personnaliser</button>
            <button class=" btn btn-primary btn-retour" type="submit" style="float: left;" style="background-color: royalblue;" (click)="back()">Retour</button>
          </div>
           <br><br><br>
    </div>
  
    </div>
  
  
  
  
  
  