
<div class="container" id="checkout" style="text-align:center">
  
  <div class="py-5 text-left">
    <h2>Formulaire de paiement</h2>
  </div>
  <div class="row">
   

    <div class="col-md-8 order-md-2 mb-4" >
   
        <app-cartitems hidden style="overflow: scroll; position:relative;float:right" (mymoney)="getTotal($event)" [showbtn]="hidebtn"></app-cartitems>
    </div>


    <div class="col-md-4 order-md-1" style="float: left;">
      <h4 class="mb-3">Adresse de facturation</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">prénoms</label>
            <input type="text" class="form-control" id="firstName" name="firname" required [(ngModel)]="data.first_name">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" id="lastName" name="lastname" required [(ngModel)]="data.last_name">
            
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="data.email" required>
           
          </div>
    
        </div>

        <div class="mb-3">
          <label for="number">Téléphone</label>
          <input type="tel" class="form-control" id="number" name="phone" [(ngModel)]="data.phone" required>
        
        </div> 
        <div class="mb-3" *ngIf="code_expire">
          <a class="btn" (click)="HasCode()" >Code de reduction ?</a>
        </div> 
        <div class="mb-3" *ngIf="hasCode">
          <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf='errCode'>
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="toggle()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> 
          <label for="code">Entrer Code de reduction</label>
          <input type="text" class="form-control" id="code" name="code" [(ngModel)]="code" required (input)="oncode()">
        
        </div> 
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="dlt">Commune</label>
              <h6 *ngIf="selected">frais de livraison</h6>
            <span *ngIf="selected" style="color: red;">{{city}} : {{delivery_cost}} fcfa</span>
              <select class="custom-select d-block w-100" id="dlt" name="country" required (change)="ChangeHandler($event)" aria-required="true" required >
            
                <option value="choix de commune" selected>Choix de commune</option>
              <option *ngFor="let item of adr" [value]="item.aladin_dlivery_adress_id">{{item.delivery_city}}</option>
              </select>
         
            <input type="text" name="city" id="city" class="form-control" [(ngModel)]="city" placeholder="example: Bouaké" required *ngIf="isother">

          </div>
         
        </div>
        <div class="mb-3">
          <label for="address">Adresse de Livraison</label>
         <input type="text" name="adl" id="adl" class="form-control" [(ngModel)]="address" placeholder="example: Abidjan yopougon ananerai antenne" required>
         
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf='errinput'>
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="toggle()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <h4 class="mb-3" *ngIf="choice">Mode Paiement</h4>

        <div class="d-block my-3">
    
          <div class="row" *ngIf="choice">
          
           <div class="col-3"> <div class="form-check form-switch">
            <label class="form-check-label" for="momo" role="button"><img src="/assets/images/momologo.png" id="momo"  width="50" height="50" (click)="momo()"></label>
          </div></div>


           <div class="col-3"> <div class="form-check form-switch">
            <label class="form-check-label" for="orangemoney" role="button"><img src="/assets/images/omoney.jpg"  id="orangemoney"alt="" width="50" height="50" (click)="om()"></label>
          </div>
        
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf='ntabv'>
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="toggle()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="col-3">
         
          <div class="form-check form-switch">
           
            <label class="form-check-label" for="moov" role="button"><img src="/assets/images/moov.png" alt="" id="moov" width="50" height="50" (click)="moov()"></label>
          </div>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf='ntab'>
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="toggle()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
            <div class="col-3">
             
              <div class="form-check form-switch">
            
              <label class="form-check-label" for="visa" role="button"><img src="/assets/images/visa.png" id="visa" alt="" width="50" height="50" (click)="visa()"></label>
            </div>
           </div>



          </div>  

        </div>


        <hr class="mb-4">
        <a role="boutton" class="btn-primary btn"  (click)="followp()" *ngIf="!choice">Je procède au paimement</a>
      </form>
    </div>
  </div>
</div>

<div class="container" *ngIf="payment">
  <app-payment (newbackcheck)="backcheck()" [data]="order_data"></app-payment>
  </div>
   

