
<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/image/acceuil.jpeg" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="assets/image/BANNER4.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="assets/image/BANNER2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="assets/image/BANNER1.webp" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>