@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.row .col {
    display: flex;
}
@media screen  and (max-width: 1250px){
    .vertical-line{
        display: none;
    }
    img{
        height: 20rem;
    }
}

a{
    text-decoration: none;
}
@media screen and (min-width:320px) and (max-width:342px) {
    img{
        height: 20rem;
    }
    
}
@media screen and (max-width:768px) {
    img{
        max-height: 11rem !important;
    }
    
}
.container{
    max-width: 1184px;
    width: 100%;
    font-family: 'poppins',helvetica,sans-serif;
    margin:12px auto;
    //z-index: -1;
  }
  img{
     width: 100%;
     z-index: -1;
  }
  .carousel{
    //z-index: -1;
    position: sticky;
  }
  
