<div class="container " style="position: relative;margin-top:45px;">
    <div class="row">
      
        <div class="col-6 image">
         
          <img [src]="data.urls[0]"  alt="" class="zoom" hidden>
          <app-sliding [data]="data.urls"></app-sliding>

         
        </div>
  
        <div class="col-6" >
  
          <h1 class="title-text">{{data.product_name}} </h1>
          <br>
      <p class="prix" >
        
         <strong style="color:#fab91a;font-size: 2rem;" *ngIf="shw">{{total_cost}} fcfa</strong>

  
      </p>
        <br>
          
        
        <div class="col-6 " style="margin-top:0% ;" >
              <!--taille-->
             
              <div class="des" *ngIf="data.productype_label=='sachet'">
                <div class="description">
                  <li>Se sont des sachets classiques.</li>
                  <li>Auxquels on a ajouté des 
                    produits chimiques qui vont
                    accélérer la dégradation
                    Matière : plastiques</li>
                </div>
                <br>
                <h6>Choisissez une taille</h6>
                <select id="sachset" class="form-select form-select-lg mb-3 tai" aria-label="sacisizecolor" id="mybagcolor" (change)="onchange($event)" >
                  <option  style="font-size: 12px;">---Choix de la taille---</option>
                  <option *ngFor="let item of p_sizes"  [value]="item.product_format_id" >{{item.product_width}}/{{item.product_height}} </option>
                </select>
              </div>
              <div *ngIf="data.productype_label=='sac'">
                <div class="description">
                  <li>Sont des sacs faites tissu</li>
                </div>
                <br>
                <h6>Choisissez une taille</h6>
                <select class="form-select form-select-lg mb-3 tai1" aria-label="sacisizecolor" id="mybagcolor" (change)="onchange2($event)" >
                  <option  style="font-size: 12px;">---Choix de la taille---</option>
                  <option *ngFor="let item of p_sizes" [value]="item.product_format_id" >{{item.product_width}}/{{item.product_height}} </option>
                </select>
              </div>
              <br><br>
            <!--quantités-->
            <h6>Quantité</h6>
            <div class="qty">
               <div class="moins mon">
                 <a role="button"><i class="fa fa-minus-square fa-2x" aria-hidden="true" (click)="minusqty()"></i></a>
               </div>
             <span class="span" style="margin-left: 30%; padding-left:5em">{{quantite}}</span>
             <div class="plus">
              <a role="button"><i class="fa fa-plus-square  fa-2x" aria-hidden="true"  (click)="plusqty()"></i></a>
            </div>
          </div>  
             
           </div>
           <br><br><br>
           <button class=" btn btn-primary btn-retour" type="submit" style="float: left;"(click)="back()" style="background-color: royalblue;">Retour</button>
  
           <button class="btn-success per" type="submit" style="float: right;" (click)="go(data)">Personnaliser</button>
           <br>
        </div>
    </div>
  </div>
