

  .zoom {
    transition: transform .2s;
    margin: 0 auto;
  }

  .zoom:hover {
      height: auto;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  

body{
  background: #ccc;
}
.btn{
  background: #fab91a;
  box-shadow: none;
  border-radius: 36px;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 12px;
  margin: 7px;
}
.radio{
  margin: 6px;
  width: 45px;
  height: 30px;
}
.lab{
  position: relative;
  bottom: 9px;
  font-weight: bold;
  //margin: 12px;
}

.btt{
  color: black;
  border: solid 1px #fab91b;
  background:none;
  text-transform: none;
}
.select:focus{
  box-shadow: none;
}
#chk:hover{
  color: black;
  border: solid 1px #fab91b;
  background:none;
  //box-shadow: none;
}
#chk:focus{
  border: solid 1px #324161;
  //box-shadow: none;
}
.btne{
  background: #324161;
  box-shadow: none;
  border-radius: 36px;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 12px;
  height: 41px;
  margin:6px;  
}
.btn:hover{
  color: white;
}
.des:hover{
  cursor: pointer;
}
.fas{
  vertical-align: sub;
}
a{
  text-decoration: none;
  color: white;
  margin: 38px;
  
}
h4, h6{
  font-family: 'Poppins';
  color: #324161;
  font-weight: bold;
}
.card-header{
  background: #324161;
  color: white;
}
.serie{
  font-family: 'Roboto';
  color: #324161;
  font-weight: bold;
}
.for{
  width: 30px;
  height: 30px;
  border: none;
  vertical-align: middle;
  float: right;
}
.for:focus{
  color: #324161;
  background: #324161;
}
.contre{
  width: 21%;
}
.fad{
  color: #324161;
}
.inpute{
  display: flex;
  //align-items: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
}
.inputed{
  display: block;
  left: 45px;
}
.xl{
  display: -webkit-inline-box;
}
.btn-success{
  width: 47.5%;
  height: 45px;
  border: none;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 5px;
}
.image{
  text-align: center;
  border: solid 1px #fab91a;
}
.cription{
  color: #324161;
  font-weight: bold;
  font-family: 'Poppins';
}
img{
  margin-top: 17px;
  //width: 50%;
}
.input{
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
  height: 49px;
  width: 42%;
}
.choix{
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
}
.input:focus{
  box-shadow: none;
}
.choisir{
  display: flex;
  align-items: center;
}
.oui{
  margin: 8px;
}
.question{
  display: flex;
  align-items: center;
}
input{
  margin: 6px;
}

// personnalise

.per{
  border-radius: 6px;
}

// bouton retour

.btn-retour{
  height: 7.2%;
  width: 48%;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 5px;
}

.tai{
  width: 100%;
}
@media screen and (max-width:768px) {
  img{
      margin-top: 17px;
  width: 279px;
  }
  .col-6{
      width: 100%;
      border: none;
  }
  .btn-success{
      width: 99.5%;
  }
  .qty{
    margin-left: 4rem;
  }
  .span{
    position: absolute;
    left: -2rem;
  }
  .plus{
    margin-left: -20px;
  }
  .qty .mon{
    //left: 43px;
    position: relative;
  }
  select{
    width: 11rem;
  }
  .des{
    width: 12rem;
    font-size: 11px;
    margin-left: -2rem;

  }
  .description{
   // width: 14rem;
    font-size: 13px;
  }
  .des li{
    //width: 13rem;
    font-size: 13px;
  }
  .btn-success{
    width: 99.5%;
    border-radius: 6px;
    margin-bottom: 12px;
  }
  .btn-retour{
    width: 99.5%;
    margin-left: 0px;
  }

  .tai{
    width: 170%;
  }

  .tai1{
    width: 222%;
  }
}
@media screen and (max-width: 768px) and (orientation:landscape){
  img{
      margin-top: 17px;
      width: 403px;
  }
  .col-6{
      width: 100%;
      border: none;
  }
  .btn-success{
      width: 99.5%;
  }
}
.qty{
  display: flex;
  text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    //left: -70px;
}
.moins{
    position: absolute;
    left: -13px;
    color: #324161;

}
.plus{
  color: #324161;
  position: relative;
    left: -14px;
}
.description{
  //width: 33rem;
  font-size: 17px;
}