
<div class="container">
    <app-descclothes *ngIf="cloth" [data]="data" [list]="list" ></app-descclothes>
    <app-descriptiongadget *ngIf="gadget" [data]="data" [list]="list"></app-descriptiongadget>

    <app-descpackages *ngIf="pack" [data]="data" [list]="list"></app-descpackages>
     <app-descriptiondisps *ngIf="disp" [data]="data" [list]="list"></app-descriptiondisps>
    <app-descriptionprint *ngIf="print" [data]="data" [list]="list"></app-descriptionprint>
</div>

<div class="card-columns" *ngIf="default">
       
    <div class="card" *ngFor="let item of list_of_prod">
   
       <div class="img" (click)="showDetails(item)" [id]="item.product_design_id">
        <img class="im" [src]="item.urls[0]">
      </div>
      <div class="middle">
        <a class="text btn" (click)="showDetails(item)"[id]="item.product_design_id" >
        Je personnalise
        </a>
      </div>
      <div class="card-body">
        <p style="font-size: 16px;">{{item.design_title}}</p>

      </div>
    </div>
  
  
</div>

<div class="card-columns" *ngIf="list_for_editor">
       
  <div class="card" *ngFor="let item of list_of_prod">
 
     <div class="img" (click)="changeBack(item)" [id]="item.product_design_id">
      <img class="im" [src]="item.urls[0]">
    </div>
    <div class="middle">
      <a class="text btn" (click)="changeBack(item)" [id]="item.product_design_id" >
      Je personnalise
      </a>
    </div>
    <div class="card-body">
      <p style="font-size: 16px;">{{item.design_title}}</p>

    </div>
  </div>


</div>