


// --- partie image-------------------
.container .box-image{

    max-width: 100%;
    height: 0%;
    margin-right: -6%;
  }
  
  #body{
    margin-top: 5%;
    border: solid 5px #324161;
    border-radius: 20px;
    position: relative;
  }
  
  .box-image{
    padding-left: 70px;
  
  }
  
  .box-text{
    color: #324161;
    // padding-top: 10%;
  }
  
  .box-text p{
    font-size: 60px;
    font-weight: bold;
    padding-top: 30px;
    font-style: italic;
    text-align: center;
  
  }
  .decouvrir{
    position: relative;
      top: 61px;
      left: 42px;
  }
  .btn-decouvrir{
    border-radius: 1.25rem;
    font-weight: bold;
    background-color: #324161;
    color: white;
    font-size: 1.6rem;
    margin-left: 16%;
  }
  
  .btn-decouvrir:hover{
  
    background-color: #1b2333;
    color: white;
  }
  //----- fin partie image--------
  
  
  .mag{
    width: 100%;
    background: transparent;
    margin-top: 30px;
  }
  
  
  
  
  // --- partie image-------------------
  
  
  
  
  
  
  
  
  
  
  
  .btn-decouvrir:hover{
  
    background-color: #1b2333;
    color: white;
  }
  //----- fin partie image--------
  .section-personnalisation{
  
    padding: 30px;
    
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section-personnalisation1{
  
    margin-top: 50px;
  }
  
  
  h5{
    font-weight: bold;
    font-size: 40px;
  }
  
  
  
  
  
  .card:hover .middle {
    opacity: 1;
  }
  .card:hover .img {
    opacity: 0.9;
  }
  .im{
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: relative;
    /* top: -12%; */
    left: 49%;
    bottom: 45px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .btn{
    background: #324161;
    color: white;
    position: relative;
    bottom: 81px;
  }
  .btn:hover{
    color: white;
  }
  .des{
    font-size: 12px;
    color: black;
    font-weight: normal;
  }
  img{
    width: 100%;
    background: #ccc;
  }
  .card{
    border: none;
    box-shadow: none;
    margin: 12px;
    width: 238px;
  }
  .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    content:'Je personnalisee';
  }
  a{
    text-decoration: none;
  }
  p{
    font-family: 'Poppins',sans-serif;
    color: #324161;
    font-weight: bold;
  }
  strong{
    font-family: 'Roboto';
    color: #fab91a;
    
  }
  .prix{
    font-size: 20px;
  }
  .card-body{
    //border: solid 1px #eee;
    //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 225px;
    margin-left: 11px;
    margin-top: -48px;
  }
  .card-body:hover{
    border: none;
  }
  .card-columns{
    display: contents;
    margin-top: 15px;
  }
  @media screen and (max-width:768px){
    .card{
      position: relative;
      left: 33px;
      margin: 12px;
    }
    .card-columns{
      display:inline-table;
      margin-left: -26px;
      
    }
    .container-fluid{
      margin-top: 68px;
    }
    .box-text p{
      font-size: 30px;
      margin-left: 40px;
    }
    .download{
      margin-top: 248px;
    }
    .section-personnalisation{
      margin-left: 30px;
    }
  }
  h6{
    //font-family: 'MonteCarlo';
    font-weight: bold;
  }
  button{
      position: relative;
      bottom:auto;
      height: 100%;
      border: none;
      background: transparent !important;
      top: 0%;
     
  }
  
  .download:hover{
  box-shadow: none;
  
  }
  .far{
    margin: 12px;
  }
  .download{
   background-color: transparent;
   border: solid 1px #eee;
   height: 217px;
   bottom: 39px;
   
   justify-content: center;
   vertical-align: middle;
   
    }
    .download:hover{
      cursor: pointer;
    }
    label:hover{
      cursor: pointer;
    }
    input {
      display: none;
      //position: absolute;
      padding: 119px 1px;
      //background-color: peru;
      border: none;
      border-radius: 5px;
      color: white;
      
      transition: 100ms ease-out;
      cursor: pointer;
    }
    @media screen and  (max-width:768px) and (orientation:landscape){
      .card{
        position: relative;
        left: 65px;
        margin: -3px;
      }
      .card-columns{
        display:inline-table;
        margin-left: -67px;
        
      }
      .download{
        margin-top: 248px;
      }
      .container-fluid{
        margin-top: 68px;
      }
    }
    @media only screen and (min-width: 481px) and (max-width: 1280px) {
        
      .card-columns .card{
          width: 175px;
      }
  }  
  