
   <app-header></app-header>

  <div class="body">
    <div class="card">
      <div class="header">
        <div class="img">
          <img src="assets/image/logo.png" >
        </div>
        <h6>Créer votre compte</h6>
      </div>
      <form action="" class="donnee">
        <div class="user dr">
          <div class="nom dx">
            <input type="text" class="input" name="fname" id="nom" [(ngModel)]="data.fname">
            <label for="nom" class="lbl">Nom</label>
          </div>
          <div class="prenom dx">
            <input type="text" class="input" name="lname" id="prenom" [(ngModel)]="data.lname">
            <label for="prenom" class="lbl">Prénoms</label>
          </div>
          

        </div>
        <div class="tel-mail dr">
          <div class="email dx">
            <input type="email" class="input" name="email" id="mail" [(ngModel)]="data.email">
            <label for="mail" class="lbl">E-mail</label>
            <div *ngIf="errmsg.email" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infoemail}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="tel dx">
            <input type="tel" class="input" name="phone" id="phone" [(ngModel)]="data.phone">
            <label for="phone" class="lbl">Téléphone</label>
          </div>

          <div class="tel dx">
            <label for="Sex">Sexe</label>
            <select id="Sex" (change)="userSEX($event)">
           <option *ngFor="let item of user_sex" [value]="item.id">{{item.value}}</option>
            </select>
          </div>



          <div *ngIf="errmsg.password" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infopwd}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="tel-mail dr">
          <div class="email dx">
            <input type="password" class="input" name="password" id="password" [(ngModel)]="data.password">
            <label for="password" class="lbl">Mot de Passe</label>
          </div>
          <div class="tel dx">
            <input type="password" class="input" name="cpwd" id="cpwd" [(ngModel)]="data.cpwd">
            <label for="cpwd" class="lbl">Confirmer</label>
          </div>
          <div *ngIf="errmsg.password" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infopwd}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="show">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="check dr">
          <input type="checkbox" value="" id="newsletter" />
          <label class="form-check-label" for="newsletter"> Je souhaite recevoir la newsletter d'Aladin avec les meilleures offres.</label>
        </div>
        <button class="btn btn-block mb-4" type="submit" style="background-color:#fab91a ; color: #324161;" (click)="register($event)">Je m'enregistre</button>
 
        
        
        <div class="logo">
          <div class="facebook">
            <a href="">
               <!--<i class="fab fa-facebook fa-3x"></i>-->
            </a>
          </div>
          <div class="google">
            <a href="">
              <!--<i style="color: red;" class="fa fa-google fa-3x"></i>-->
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="new">
      avez- vous un compte? <a routerLink="/users/auth">Connecter-vous</a>
    </div>
  </div>
  
  <footer class=" justify-content-center text-lg-left">
  <div class="text-center p-3" >
   <strong style="float: left;"> © 2021 Aladin </strong>
      Reseaux sociaux:
    <a href="https://www.instagram.com/AladinCi" class="text-dark"><i class="fab fa-instagram  fa-x  "></i></a>
    <a href="https://twitter.com/AladinCi" class="text-dark"><i class="fab fa-twitter  fa-x  "></i></a>
    <a href="https://www.facebook.com/AladinCi" class="text-dark"><i class="fab fa-facebook  fa-2x  "></i></a>
  </div>
  </footer>
 
