
<app-header [list_of_prod]="list_of_prod" *ngIf="!editor"></app-header>
<!--<app-aladin [data]="data_prod" [models]="my_list" *ngIf="editor"></app-aladin>-->
<app-aladin [data]="data_prod" [models]="my_list" *ngIf="editor"></app-aladin>
<div class="container" *ngIf="!editor">
      <div class="row" id="body">
         <h1>NOTRE GAMME  <span>  DE VETEMENTS</span></h1>
         <br>
         <p style="color:#324161;font-weight:bold;">{{data}}</p>
      </div>

      
      <div class="row">

       
        <app-search-result></app-search-result>
        <app-insert-cloth style=" float:center;" ></app-insert-cloth>
  
        <app-list-product [list_of_prod]="list_of_prod"></app-list-product>
  

      </div>


</div>

<app-footer *ngIf="!editor"></app-footer>





