.text{
    color: #324161;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;

}.hungry .selection {
  margin-bottom: 1em;
}



.hungry .selection label {
  display: inline-block;
  width: 9em;
  background-color: #324161;
  border-radius: 6px;
  text-align: center;
  font-style: 20px;
  color: #ecdede;
  padding: 0.5em;
  cursor: pointer;
  margin-left: 2.5rem;
}
.col-3{
  width: 40%;
}


.hungry .selection label:hover {
  background-color: #5fc0dc;
}



.hungry .selection input[type=radio] {
  display: none;
}



.hungry .selection input[type=radio]:checked ~ label {
  background-color: #f1592a;
}



[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label {
    background: #324161 !important;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
      font-family: 'Rubik', sans-serif;
      font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    
    &:hover {
      background-color: darken(#f15d22, 10%);
    }
    
    &.btn-1 {
      background-color:#324161;
      box-shadow: 0 6px darken(#f79159, 10%);
      transition: none;
  
      &:hover {
        box-shadow: 0 4px darken(#f79159, 10%);
        top: 2px;
      }
    }
    
    &.btn-2 {
      background: #324161!important;
      border-radius: 50px;
      overflow: hidden;
      
      &::before {
        color: #fff;
        content: "\f382";
        font-family: "Font Awesome 5 Pro";
        font-size: 100%;
        height: 100%;
        right: 130%;
        line-height: 3.3;
        position: absolute;
        top: 0px;
        transition: all 0.3s;
        align-items: center;
      }
  
      &:hover {
        background-color: darken(#99c793, 30%);
          
        &::before {
          right: 75%;
        }
      }
    }
    
    &.btn-3 {
      background: #324161;
      border-radius: 0;
      overflow: hidden;
      
      span {
        display: inline-block;
        height: 100%;
        transition: all 0.3s;
        width: 100%;
      }
      
      &::before {
        color: #fff;
        content: "\f382";
        font-family: "Font Awesome 5 Pro";
        font-size: 130%;
        height: 100%;
        left: 0;
        line-height: 2.6;
        position: absolute;
        top: -180%;
        transition: all 0.3s;
        width: 100%;
        align-items: center;
      }
  
      &:hover {
        background: darken(#324161, 30%);
        
        span {
          transform: translateY(300%);
        }
          
        &::before {
          top: 0;
        }
      }
    }
  }
  

  
  .wrapper {
    background: white !important;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 500px;
    padding: 2rem;
    width: 100%;
    text-align: justify;
  }

 
  

  
  h1,
  p {
    margin-bottom: 2rem;
  }
  
  h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    
  }
  
  a {
    color: #31c1ef;
    text-decoration: none;
  }
@media screen and (max-width:768px) {
  [type="file"] + label{
    font-size:10px;
  }
  .col-3{
    width: 100%;
    text-align: center;
    position: relative;
    left: -2.1rem;
}
}
@media screen and (max-width:768px) and (orientation:landscape){
  .col-3{
    width: 49%;
}
}