
<div class="wrapper">
    <span  *ngIf="data.gadget">
        <h1 class="text">Imprimer mes maquettes de gadgets(tasse,stylot,porte clé etc...) </h1>
        <div class="hungry">
          <div class="row">
            <div class="col-3">
              <div class="selection">
                <input id="stylot" name="stylot" type="radio"  (click)="OnRadioClick($event)">
                <label for="stylot">Stylo</label>
  
               <span *ngIf="stylot"> 
                 <input type="file" id="gadget" (change)="upload_gadget($event)" multiple />
                  <label for="gadget" class="btn-2"><i class="fas fa-upload" style="margin-left:1.8em ;"></i></label>
                </span>
  
              </div>
            </div>
            <div class="col-3">    <div class="selection">
              <input id="tasse" name="tasse" type="radio"  (click)="OnRadioClick($event)">
              <label for="tasse">Tasse</label>
              
             <span *ngIf="tasse">
                <input type="file" id="gadget" (change)="upload_gadget($event)"  multiple />
                <label for="gadget" class="btn-2" style="text-align: justify;"><i class="fas fa-upload" style="margin-left:1.8em ;"></i></label>
         
             </span>
            </div>
          </div>

           <div class="col-3">
            <div class="selection">
              <input id="porte clé" name="porte clé" type="radio"  multiple (click)="OnRadioClick($event)">
              <label for="porte clé">Porte clé</label>
              <span *ngIf="port_key">
                <input type="file" id="gadget"   multiple (change)="upload_gadget($event)" />
                <label for="gadget" class="btn-2" style="text-align: justify;"><i class="fas fa-upload " style="margin-left:1.8em ;"></i></label>
              </span>

            </div>
           </div>

          </div>
        
           
          </div>
       
    </span>

    <span *ngIf="data.cloth">
        <h1 class="text">Imprimer mes maquettes de vetements (polo,t-shirt,casquettes etc...)</h1>
        <div class="hungry">
        <div class="row">
        <div class="col-3">
          <div class="selection">
            <input id="polo" name="polo" type="radio"  (click)="OnRadioClick($event)">
            <label for="polo" style="font-size: 12px;">Polo Blanc</label>
           <span *ngIf="polo"> 
        <input type="file" id="cloth"  multiple (change)="upload_cloth($event)" />
        <label for="cloth" class="btn-2" style="font-size: 12px; text-align:justify"><i class="fas fa-upload" style="margin-left:1.8em ;"></i> </label>
            </span>

          </div>
        </div>

        <div class="col-3">
          <div class="selection">
            <input id="t_shirt_ord" name="t-shirt-ordinaire" type="radio"  (click)="OnRadioClick($event)">
            <label for="t_shirt_ord" style="font-size: 12px;text-align:justify">T-shirt ordinaire </label>
           <span *ngIf="t_shirt_ord"> 
        <input type="file" id="cloth"  multiple (change)="upload_cloth($event)" />
        <label for="cloth" class="btn-2" style="font-size: 12px; text-align:justify"><i class="fas fa-upload" style="margin-left:1.8em ;"></i> </label>
            </span>

          </div>
        </div>

        <div class="col-3">
          <div class="selection">
            <input id="t_shirt_blanc" name="t-shirt-blanc" type="radio"  (click)="OnRadioClick($event)">
            <label for="t_shirt_blanc" style="font-size: 12px; text-align:justify">T-shirt blanc </label>
           <span *ngIf="t_shirt_blanc"> 
           
        <input type="file" id="cloth"  multiple (change)="upload_cloth($event)" />
        <label for="cloth" class="btn-2" style="font-size: 12px; text-align:justify">  <i class="fas fa-upload" style="margin-left:1.8em ;"></i> </label>
            </span>

          </div>
        </div>
       
        </div>
     <div class="row">
      <div class="col-3">
        <div class="selection">
          <input id="t_shirt_poly" name="t_shirt_polyesther" type="radio"  (click)="OnRadioClick($event)">
          <label for="t_shirt_poly" style="font-size: 12px;">T-shirt Polycoton</label>
         <span *ngIf="t_shirt_poly"> 
      <input type="file" id="cloth"   multiple (change)="upload_cloth($event)" />
      <label for="cloth" class="btn-2" style="font-size: 12px; text-align:justify">  <i class="fas fa-upload" style="margin-left:1.8em ;"></i></label>
          </span>

        </div>
      </div>


      <div class="col-3">
        <div class="selection">
          <input id="t_shirt_coul" name="t_shirt_couleur" type="radio"  (click)="OnRadioClick($event)">
          <label for="t_shirt_coul" style="font-size: 12px;">T-shirt couleur</label>
         <span *ngIf="t_shirt_coul"> 
      <input type="file" id="cloth"  multiple (change)="upload_cloth($event)" />
      <label for="cloth" class="btn-2" style="font-size: 12px; text-align:justify">  <i class="fas fa-upload" style="margin-left:1.8em ;"></i></label>
          </span>

        </div>
      </div>

     </div>
        
          
        </div>



    </span>

    <span *ngIf="data.pack">
        <h1 class="text">Imprimer mes maquettes d'emballages (sachets,sac  etc...)</h1>
        <div class="hungry">
        
       <div class="row">
        <div class="col-3">
          <div class="selection">
            <input id="sachet" name="sachet" type="radio"  (click)="OnRadioClick($event)">
            <label for="sachet" style="font-size: 12px;">sachet</label>
            <span *ngIf="sachet">        
             <input type="file" id="pack" multiple (change)="upload_pack($event)" />
             <label for="pack" class="btn-2" style="font-size: 12px; text-align:justify">  <i class="fas fa-upload" style="margin-left:1.8em ;"></i></label>

      </span>
  
          </div>
        </div>
  
  
        <div class="col-3">
          <div class="selection">
            <input id="sac" name="sac" type="radio"  (click)="OnRadioClick($event)">
            <label for="sac" style="font-size: 12px;">Sac</label>
            <span *ngIf="sac">        
           <input type="file" id="pack"  multiple (change)="upload_pack($event)" />
           <label for="pack" class="btn-2" style="font-size: 12px; text-align:justify">  <i class="fas fa-upload" style="margin-left:1.8em ;"></i></label>

      </span>
  
          </div>
        </div>
  
       </div>
          
          </div>
    
  </span>


    <span *ngIf="data.disp">
        <h1 class="text">imprimer mes maquettes d'afficahges (baches,vynile etc...)</h1>
        <div class="hungry">
        
          <div class="row">
           <div class="col-3">
             <div class="selection">
               <input id="vynile" name="vynile" type="radio"  (click)="OnRadioClick($event)">
               <label for="vynile" style="font-size: 12px;">Vynile</label>
               <span *ngIf="vynile">        
                    
            <input type="file" id="disp" multiple (change)="upload_disp($event)" />
            <label for="disp" class="btn-2"style="font-size: 12px; text-align:justify"><i class="fas fa-upload" style="margin-left:2em ;"></i></label>
                     
         </span>
     
             </div>
           </div>
     
     
           <div class="col-3">
             <div class="selection">
               <input id="bache" name="bache" type="radio"  (click)="OnRadioClick($event)">
               <label for="bache" style="font-size: 12px;">Bache</label>
               <span *ngIf="bache">
            <input type="file" id="disp" multiple (change)="upload_disp($event)" />
            <label for="disp" class="btn-2"style="font-size: 12px; text-align:justify">  <i class="fas fa-upload" style="margin-left:2em ;"></i></label>
                      
        
         </span>
     
             </div>
           </div>
           <div class="col-3">
            <div class="selection">
              <input id="kakemono" name="kakemono" type="radio"  (click)="OnRadioClick($event)">
              <label for="kakemono" style="font-size: 12px;">Kakemono</label>
              <span *ngIf="kakemono">
           <input type="file" id="disp" multiple (change)="upload_disp($event)" />
           <label for="disp" class="btn-2"style="font-size: 12px; text-align:justify">  <i class="fas fa-upload" style="margin-left:2em ;"></i></label>
                     
       
        </span>
    
            </div>
          </div>
     
          <div class="col-3">
            <div class="selection">
              <input id="micro" name="micro perforé" type="radio"  (click)="OnRadioClick($event)">
              <label for="micro" style="font-size: 12px;">Micro perforé</label>
              <span *ngIf="micro_perfore">
           <input type="file" id="disp" multiple (change)="upload_disp($event)" />
           <label for="disp" class="btn-2"style="font-size: 12px; text-align:justify">  <i class="fas fa-upload" style="margin-left:2em ;"></i></label>
                     
       
        </span>
    
            </div>
          </div>
     
          </div>
             
        </div>
        
        

  </span>


    <span *ngIf="data.print">
        <h1 class="text">imprimer mes maquettes (carnets,etiquettes etc...)</h1>
    
    <div class="hungry">
        
      <div class="row">
       <div class="col-3">
         <div class="selection">
           <input id="carnet" name="carnet" type="radio"  (click)="OnRadioClick($event)">
           <label for="carnet" style="font-size: 12px;">Carnet</label>
           <span *ngIf="carnet">        
        <input type="file" id="print" multiple (change)="upload_print($event)" />
        <label for="print" class="btn-2" style="font-size: 12px; text-align:justify"><i class="fas fa-upload" style="margin-left:2em ;"></i></label>
        
   
     </span>
 
         </div>
       </div>
 
 
       <div class="col-3">
         <div class="selection">
           <input id="etiquette" name="etiquette" type="radio"  (click)="OnRadioClick($event)">
           <label for="etiquette" style="font-size: 12px;">Etiquette</label>
           <span *ngIf="etiquette">
            <input type="file" id="print" multiple (change)="upload_print($event)" />
        <label for="print" class="btn-2" style="font-size: 12px; text-align:justify"><i class="fas fa-upload" style="margin-left:2em ;"></i></label>
        
    
     </span>
 
         </div>
       </div>
 
      </div>
         
         </div>
  
  
  </span>

  </div>

 
 