<!---->
<div class="body">
    
<app-header *ngIf="!editor"></app-header>

<div class="section">
    
    <app-aladin [data]="data" *ngIf="editor" [models]="list"  id="editor"></app-aladin>
    <app-cartitems *ngIf="cart" id="cart"></app-cartitems>

</div>


<div class="section">

    <app-home1 *ngIf="!editor"></app-home1>

</div>


</div>

