
<div class="container"    style="margin-top: 40px;">
  <div class="row">
    
      <div class="col-6 image">
        <img [src]="data.urls[0]"  class="zoom" (click)="go($event)" hidden>
        <app-sliding [data]="data.urls"></app-sliding>

      </div>
          
       <div class="col-6">
        <h1  class="title-text">{{data.design_title}} </h1>

        <p class="prix" >
          
        
          <strong style="color: red;" *ngIf="shw">

            Impression: {{print_cost}} fcfa</strong>
            <br>
            <strong style="color: red; " *ngIf="shw">
            total: {{total_cost}} fcfa</strong> 
        </p>

         <div class="impression">
           <h6>Type d'impression</h6>
           <select name="name" id="name" class="form-control" (change)="onchange($event)">
             <option value="choisir un type d'impression">choisir un type d'impression</option>
             <option  *ngFor="let item of printing" [value]="item.printing_id">{{item.printing_type_label}}</option>
           </select>
         </div>
            
                 <!--quantité et taille-->
              <div class="row" *ngIf="hastype">
                 <div class="col-6 col">
                    <div class="card" style="margin-top: 13px;">
                      <div class="card-header ch">
                          <a role="button" data-toggle="collapse" data-target="#quantite" aria-expanded="true" aria-controls="collapseOne">
                          Quantité et taille
                          </a>
                      </div>
                  
                      <div id="quantite" class="collapse show" aria-labelledby="heading" data-parent="#accordion1">
                        <div class="card-body" *ngFor="let item of mode">
                          <div class="inpute">
                            <label [for]="item.product_mode_id">{{item.product_sizes}}</label>
                            <div class="inputed m">
                              <a class="minus" role="button">
                                <i class="fad fa-minus-circle  fa-2x " (click)="QtminusM(item)"></i></a>
                              <span [id]="item.product_mode_id"></span>
                              <a class="plus" (click)="QtplusM(item)" role="button">
                                <i class="fad fa-plus-circle fa-2x"></i></a>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
            
        
                    </div>
                 </div>
              </div>
              <div class="row">
                <button class=" btn btn-success per" type="submit" style="float:left;" (click)="go($event)">Personnaliser</button>
                <button class=" btn  btn-retour" type="submit"  (click)="back()" style="background:blue;">Retour</button>
             
              </div>
      
        </div>
         
  </div>

  </div>