
<app-header3></app-header3>
<div class="arrow-container arrow" id="scroller"  (click)="smooth($event)" role="button" style="margin-left: 45%;
margin-top: 5%;">
  <div class="arrow-2">
    <i class="fa fa-angle-down"></i>
  </div>
  <div class="arrow-1"></div>
</div>

<a class="btn customizings pulse-button pulse-button-sm" *ngIf="hidecrea"  (click)="mymenu()" role="button">Inserer ma crea !!!</a>

<div class="container-fluid" *ngIf="!show_menu">
  <a class="btn customizing" hidden id="scroller" *ngIf="model" (click)="smooth($event)" role="button">Je personnalise un modèle<i class="fas fa-arrow-down fa-2x"></i></a>

<div class="row room">  
  <div class="col-6 tool" *ngIf="cloths" id="col" >
    <app-insert-cloth></app-insert-cloth>
  </div>
<div class="col-6 tool" *ngIf="gadge"  id="col" >
  <app-insert-gadget></app-insert-gadget>
</div>

</div>

<div class="row room">
  <div class="col-6 tool"  id="col"  *ngIf="dip" >
    <app-insert-disp></app-insert-disp>
  </div>
  <div class="col-6  tool"  id="col"   *ngIf="packags" >
    <app-insert-pack></app-insert-pack>
  </div>
</div>

<div class="row room" >
  <div class="col-6 tool"  id="col"   *ngIf="printe">
    <app-insert-print></app-insert-print>
  </div>
</div>
</div>

<br><br>

<div class="container" *ngIf="hidebody" id="customize" >
  <div class="top_produit">
  
  <div class="col">
  
      <div class="card">
        <app-search-result *ngIf="issearch"></app-search-result>
      </div>


      <div class="card" *ngIf="iscloth && clothes.length>0">
        <div class="card-header" style="background: #324161; color: white;">
         <span>
           Vetements 
         </span>
         <a class="a" href="../cloths" style="float: right; color: white;">VOIR PLUS<i class="fas fa-angle-right"></i></a>
        </div>
       
        <div class="card-body">
          <div class="card-columns">
          <div class="product">
           
            <app-list-product [list_of_prod]="clothes"></app-list-product>
      
        </div>
        </div>
       </div>

      </div>

      <div class="card" *ngIf="ispack && packages.length>0">
        <div class="card-header" style="background: #324161; color: white;">
          <span>Emballages</span>
          <a class="a" href="../packages" style="float: right; color: white;">VOIR PLUS  <i class="fas fa-angle-right"></i></a>
         </div>
        <div class="card-body">
          <div class="product">
          
           
              <app-list-product [list_of_prod]="packages"></app-list-product>
           
        
        </div>
        </div>

      </div>


      <div class="card" *ngIf="isgad && gadgets.length>0">
        <div class="card-header" style="background: #324161; color: white;">
          <span>Gadgets</span>
          <a class="a" href="../gadgets" style="float: right; color: white;">VOIR PLUS  <i class="fas fa-angle-right"></i></a>
         </div>
        <div class="card-body">
          <div class="product">

           
              <app-list-product [list_of_prod]="gadgets"></app-list-product>
           
        
        </div>
        </div>
      </div>
      <div class="card" *ngIf="isprint && printed.length>0">
        <div class="card-header" style="background: #324161; color: white;">
          <span>Imprimés</span>
          <a class="a" href="../printed" style="float: right; color: white;">VOIR PLUS  <i class="fas fa-angle-right"></i></a>
         </div>
        <div class="card-body">
          <div class="product">
           
              <app-list-product [list_of_prod]="printed"></app-list-product>
           
        
        </div>
        </div>
      </div>

      <div class="card" *ngIf="isdisp && display.length>0">
        <div class="card-header" style="background: #324161; color: white;">
          <span>Affichages</span>
          <a class="a" href="../displays" style="float: right; color: white;">VOIR PLUS  <i class="fas fa-angle-right"></i></a>
         </div>
        <div class="card-body">
          <div class="product">
            
              <app-list-product [list_of_prod]="display"></app-list-product>
        
           </div>
        </div>
      </div>
      
    </div>
  </div>
</div>



<app-footer></app-footer>