
.customize{
  top: 28rem;
  position: absolute;
  font-size: 29px;
  left: 50%;
  background: #324161 !important;
  opacity: 61%;
  color: #ffffff;
}
.room{
  margin: 1rem;
}
@media screen and (min-width:334px) {
  .pulse-button-sm {
    position: static;
    margin-top: 2rem;
    text-align: center;
}
  .pulse-button-sm{
    position: relative;
    top: 20%;
    //left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 120px;
    height: 100px;
    font-size: 1.3em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #5a99d4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
   // -webkit-animation: pulse 1.5s infinite;
  
   font-size: small;
   text-indent: 0%;
   text-orientation: upright
  }
  
}


.pulse-button {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
  font-size: 1.3em;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  line-height: 100px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #5a99d4;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
 font-size: small;
 text-indent: 0%;
 text-orientation: upright;
}






a{
  text-decoration: none;
  //text-transform: lowercase;
}

.customizing{
  top: 45rem;
  z-index: 20;
  position: absolute;
  left: 40%;
  background: #324161 !important;
  color: #ffffff;
}

.container{
  font-family: 'poppins',helvetica,sans-serif;
}


.title{
  background-image: url("/assets/image/n.jpg");
  background-position: 50% 60%;
  background-repeat: repeat-x;
}
.bar{
  text-align: center;

}

.bar p{
  display: inline-block;
  background: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 0 2rem;
  margin: 0;
}

.products{
  flex-direction: row;
  flex-wrap: wrap;
}

.top_produit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product{
  max-width: 28.5rem;
}

.top_produit .product{
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a{
  color: #000000;
  text-decoration: none;
}

.top_produit .product a{
  display: inline-block;
}

.image_product{
  display: block;
  max-width: 100%;
  height: auto;
  width: 250px;
}

.text{
  margin-top: 10px;
}


.top_produit .product .nom{
  font-size: 16px;
  font-weight: bold;
}
p{
  margin: 0;
}

.top_produit .product{
  font-size: 1.4rem;
}

.top_produit .product .descris .price{
  color:#FF4040;
  font-weight: bold;
  font-style: 16px;
}

.product p{
  color: #000000;
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  letter-spacing: 0em;
  line-height: 1;
  margin: 0;
}

.axe{
  margin-top: 15px;
}

.top_produit .product .noms{
  font-size: 16px;
  font-weight: 600;
}

.product .noms{
  margin-bottom: 15px;
}

.image_products{
  display: block;
  max-width: 100%;
  height: auto;
  width: 200px;
}


.contact{

  background: #d4d4d4A1;
  height: auto;
  align-self: end;
  justify-self: center;
  position: relative;
  display: grid;
}

.text_contact{
  width: 75%;
  align-self: center;
  justify-self: start;
  margin-left: 15%;
  height: auto;
  position: relative;
  display: flex;
}

.h2{
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-align: left;
  font-family: roboto-thin,roboto,sans-serif;
  letter-spacing: 0em;
  line-height: 1.3em;
  font-weight: 30px;
  font-weight: 100;
  text-decoration: none;
}

.b_cont{
  background: #131946;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-left: 2%;
}

.lun{
  text-align: center;
  font-size: 16px;
}

.profession{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: auto;
  min-height: 0px;
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 4/1/5/2;
}

.fv{
  background-color: #131946;
  color: #ffffff;
}

.vf{
  width: 100%;
  height: 100%;
}

.im{
  height: 100%;
  width: 100%;
}
.bloc{
  position: relative;
  box-sizing: border-box;
  column-gap: 40px;
  display: grid;
  grid-template-rows: minmax(auto,max-content);
  grid-template-columns: 0.5fr 1fr;
}

.image{
  height: 220px;
  min-width: 0px;
  width: 220px;
  align-self: center;
  justify-self: center;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 20%;
  grid-area: 1/1/2/2;
}

.profil{
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;

}

.text_profils{
  height: max-content;
  width: 59.99971%;
  align-self: center;
  justify-self: start;
  position: relative;
  margin-left: 0%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  grid-area: 1/2/2/3;
}

.tp{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.icon{
  fill-opacity: #ffffff;
  opacity: 0.25;
}

.text_profil{
  font-size: 16px;
  height: auto;
  width: 100%;
  position: relative;
  margin-left: 0%;
  margin-top: 23.828125px;
  align-self: center;
  order: 2;
}

.card-body .product{
  margin: -7px;
}
.card{
  width: 100%;
  margin: 10px;
}
.bubble{ 
  background-color: #324161;
  color: white;
  border-radius: 5px; 
  box-shadow: 0px 0px 6px #B2B2B2;
  left: 1340px;
  position: absolute;
  width: 167px;
  top: 883px;
  height: 344px;
  text-align: center;
   
} 

.bubble span{
  color: #FF4040;
}
@media screen and (max-width:768px) {
 .row .col-6{
    width:100%;
  }
  .customize{
    top: 11rem;
    position: absolute;
  }
  .top_produit .product{
    font-size: 1rem;
}
img{
  width: 100%;
}
.card{
  border: none;
}
.arrow {
  position: fixed;
  top: 20rem;
  left: 13rem;
  right: 0;
  cursor: pointer;
  display: none;
}
#col{
  margin: 1rem;
}
}
  
.pulse-button-sm{
  position: static;
  margin-top: 2rem;
  margin-left: -31rem;
  text-align: center;


}
.pulse-button-sm:hover{
  color: white;
}
.card-columns{
  display: contents;
  
}


.customizings {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #313133;
  background: linear-gradient(90deg, #47587e 0%, #324161 100%);
  border: none;
  box-shadow: 12px 12px 24px #47587e;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  color: white;
  position: relative;
  padding: 10px;
  }

  .customizings::before {
content: '';
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  transition: all .3s ease-in-out 0s;
}

.customizings:hover, .customizings:focus {
  color: white;
  transform: translateY(-6px);
}

.customizings:hover::before,.customizings:focus::before {
  opacity: 1;
}

.customizings::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #47587e;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.customizings:hover::after, .customizings:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
@media screen and (max-width:768px) {
  .pulse-button-sm{
    text-transform: lowercase;
    margin-left: -4rem;
  }
  .customizing{
    display: none;
  }
  
}
//scroll down botton
.arrow-container{

  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  top: 26rem;
  left: 36rem;
  right: 0;
  cursor: pointer;
 
}

.arrow-1{
  width: 100px;
  height: 100px;
  background: #fab91a;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  animation: zoomIn 1.5s infinite;
}

.arrow-2{
  width: 60px;
  height: 60px;
  background: #324161;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
 
}

.arrow-2:before{
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
 
}

.arrow-2 i.fa{
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
 
}

/* Custom Animate.css */

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.row .tool{
  flex: 1 0 auto;
  
}
.card{
  border: none;
  border-radius: 2rem;
}
@media only screen and (max-width:320px){
  .customizings{
    width: fit-content;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1280px) {
 .customizings{
    margin-left: -19rem;
  }
}  