

  .zoom {
    transition: transform .2s;
    margin: 0 auto;
    position: relative;
    top: 78px;

  }

  .zoom:hover {
      height: auto;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  

body{
  background: #ccc;
}
.btn{
  background: #fab91a;
  box-shadow: none;
  border-radius: 36px;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 12px;
  margin: 7px;
}
.radio{
  margin: 6px;
  width: 45px;
  height: 30px;
}
.lab{
  position: relative;
  bottom: 9px;
  font-weight: bold;
  //margin: 12px;
}
.btn-check:checked+.btn-outline-danger{
  border-color: #324161;
  background:transparent;
  box-shadow: 0 0 0 0.10rem #324161;
  color:#324161;


}
.btn-check:hover+.btn-outline-danger{
  background:transparent;
  color:#324161;
}
.btn-check+.btn-outline-danger{
  background:transparent;
  color:#324161;
  border-color:#fab91a;
  text-transform:none;
}
label{
  //margin:8px;
  font-weight:bold;
}
.container{
    font-family: 'Roboto',sans-serif;
}
.btt{
  color: black;
  border: solid 1px #fab91b;
  background:none;
  text-transform: none;
}
.select:focus{
  box-shadow: none;
}
select:focus{
  box-shadow: none;
}
#chk:hover{
  color: black;
  border: solid 1px #fab91b;
  background:none;
  //box-shadow: none;
}
#chk:focus{
  border: solid 1px #324161;
  //box-shadow: none;
}
.btne{
  background: #324161;
  box-shadow: none;
  border-radius: 36px;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 12px;
  height: 41px;
  margin:6px;  
}
.btn:hover{
  color: white;
}
.des:hover{
  cursor: pointer;
}
.fas{
  vertical-align: sub;
}
a{
  text-decoration: none;
  color: white;
  margin: 38px;
  
}
h4, h6{
  font-family: 'Poppins';
  color: #324161;
  font-weight: bold;
}
.card-header{
  background: #324161;
  color: white;
}
.serie{
  font-family: 'Roboto';
  color: #324161;
  font-weight: bold;
}
.for{
  width: 30px;
  height: 30px;
  border: none;
  vertical-align: middle;
  float: right;
}
.for:focus{
  color: #324161;
  background: #324161;
}
.contre{
  width: 21%;
}
.fad{
  color: #324161;
}
.inpute{
  display: flex;
  //align-items: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
}
.inputed{
  display: block;
  position: relative;
    left:45px;
    text-align: center;

}
.s{
 position: relative;
 left: 51px;
}
.l{
  position: relative;
  left: 50px;
 }
.xl{
  display: -webkit-inline-box;
  position: relative;
    left: 42px;
}
.xxl{
  position: relative;
  left: 30px;
}
.xxxl{
  position: relative;
  left: 33px;
}
.btn-success{
  width: 47.5%;
  height: 45px;
  border: none;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 5px;
}
.image{
  text-align: center;
 background: #ccc;
}
.cription{
  color: #324161;
  font-weight: bold;
  font-family: 'Poppins';
}
img{
  margin-top: 17px;
  
}
.input{
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
  height: 49px;
  width: 42%;
}
.choix{
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
}
.input:focus{
  box-shadow: none;
}
.choisir{
  display: flex;
  align-items: center;
}
.oui{
  margin: 8px;
}
.question{
  display: flex;
  align-items: center;
}
input{
  margin: 6px;
}
.kakemono{
  font-size: initial;
}

.per{
  border-radius: 6px;
}

// bouton retour

.btn-retour{
  width: 48%;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 5px;
}
@media screen and (max-width:768px) {
  img{
      margin-top: 17px;
  width: 279px;
  }
  .col-6{
      width: 100%;
      border: none;
      //height: 374px;
  }
  .btn-success{
      width: 99.5%;
  }
  .row{
    font-size: initial;
  }
 .row .text2{
    width: 25%;
    position: absolute;
    top: 7.5rem;
    left: 5rem;
}
.row .test{
  width: 26%;
  position: absolute;
  left: 5rem;
  top: 2.3rem;
}
.row .col{
  width: 70%;
}

.btn-retour{
  width: 99.5%;
  margin-left: 0px;
}

}
@media screen and (max-width: 768px) and (orientation:landscape){
  img{
      margin-top: 17px;
      width: 403px;
  }
  .col-6{
      width: 100%;
      border: none;
      //height: 374px;
  }
  .btn-success{
      width: 99.5%;
  }
}
 select{
  width: 28%;
  height: 3rem;
  border: solid 1px #ccc;
  
  color: -internal-light-dark(#ccc, white);

}
select:focus{
  box-shadow: none;
 
}
.col-sm input{
  width: 46%;
}
.text2{
  width: 11%;
  position: absolute;
  top: 7.5rem;
  left: 13rem;
 
 
}
.text1{
  width: 11%;
    position: absolute;
    left: 13rem;
    top: 2.3rem;
}