
  <div class="container"style="margin-top: 40px;">
    <div class="row">
        <div class="col-6 image">
          <app-sliding [data]="data.urls"></app-sliding>

        </div>
            
         <div class="col-6" >
          <h1  class="title-text"> {{data.design_title}}</h1>
          <p class="prix" *ngIf="shw"> <strong style="color: #fab91a;font-size: 2rem;">{{total_cost}} fcfa</strong></p>
          
        
           <br>
            <!--Micro perfore-->
            <div class="micro_perfore" *ngIf="data.productype_label=='micro perfore'" >
              <div class="type_impr">
                <div class="row">
                  <h6>Type d'impression</h6>
                 <div class="choix" *ngFor="let item of list_prnt">
                      <input type="radio" class="btn-check" [name]="item.printing_type_label" [id]="item.printing_type_label" autocomplete="off">
                    <label class="btn btn-outline-danger" [for]="item.printing_type_label" (click)="printng(item)" >{{item.printing_type_label}}</label>
                      
                  </div>
                </div>
                <br>
                <div class="row">
                  <li>Le micro perforé a 
                    un grammage allant 
                    de 250 gr à 340 g et 
                    un épaisseur de 0,3 
                    à 0,4mm,constituée 
                    de 《petits trous 》.</li>
                </div>
            </div>
           </div>
           <!--Bache-->
           <div class="bache" *ngIf="data.productype_label=='bache'">
             <div class="type_impr">
              <div class="row">
                <h6>Type d'impression</h6>
                <div class="row" >
                  <div class="col-2" *ngFor="let item of list_prnt">
                    <input type="radio" class="btn-check" [name]="item.printing_type_label" [id]="item.printing_type_label" autocomplete="off">
                    <label class="btn btn-outline-danger" [for]="item.printing_type_label" (click)="printng(item)" >{{item.printing_type_label}}</label>
                      
                  </div>
                 
              </div>
              </div>
              <br>
              <div class="row">
                <li>La bâche est à
                  base de recyclage.</li>
                  <li>Réalisé à partir de 
                  tissus épais en PVC , 
                  polyester.</li>
              </div>
             </div>
           </div>
           <!--kakemono-->
           <div class="kakemono" *ngIf="data.productype_label=='kakemono'">
             <div class="type_suport">
              <div class="row">
                <li>Le kakémono est 
                  une bâche utilisée à 
                  titre publicitaire en 
                  PLV sur le Lieu de 
                  Vente qui peut être 
                  pliée ou enroulée 
                  (un roll-up) qui peut 
                  être fixe ou non enroulable.</li>
                  <li>
                    C’est un 
                    objet de 
                    communication ou 
                    de publicité léger et 
                    facile à déplacer.</li>
              </div>
              <br>
             <div class="row">
               <h6>Type de support</h6>
               <div class="col-4 col">
                  <select name="select" id="select" (change)="OnChange($event)" style="width: 176%;">
                    <option value="">---Choisissez un type de support---</option>
                    <option *ngFor="let item of list_prnt" [value]="item.printing_id">{{item.printing_type_label}}</option>
                  </select>
              </div>
             </div>
             </div>
           </div>
           <!--vynile-->
           <div class="vynile">
             <div class="type">
  
             </div>
           </div>
           <br>
           <div class="dimension" *ngIf="data.productype_label=='micro perfore' || data.productype_label=='bache'">
            <h6> Dimension</h6> 
            <div class="row">
                    <div class="col-sm">
                        <label for="addon3">Largeur en Cm</label>
                    <input type="number" class="form-control" aria-describedby="addon3" [(ngModel)]="largeur" required (input)="change1($event)">
                    <span class="input-group-text text1 test " id="addon3">cm</span>
                    <label for="height">Hauteur en Cm</label>
                    <input type="number" class="form-control" id="height" aria-describedby="addon4" [(ngModel)]="hauteur"
                    required (input)="change2($event)">
                    <span class="input-group-text text2 " id="addon4">cm</span>
                </div>   
            </div>
           </div>
          <!--quantite-->
          <div class="quantite">
            <h6>Quantité</h6>
            <input type="text" class="form-control" [(ngModel)]="quantite" (input)="onINput()">
          </div>
          <br>
          <div class="but">
            <button class="btn-success per" type="submit" style="float:left;" (click)="go($event)">Personnaliser</button>
            <button class=" btn btn-primary btn-retour" type="submit" style="float: left;" style="background-color: royalblue;" (click)="back()">Retour</button>
          </div>
           
          </div>
           
    </div>
  
    </div>
  
  
  
  
  