
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Panier</h1>
     </div>
</section>

<section class="cart-block" *ngIf="isempty==false">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Images </th>

                            <th scope="col" class="entete">Produits</th>
                            <th scope="col" class="text-center entete">Quantité</th>
                            <th scope="col" class="text-right entete">Prix Unitaire</th>
                        </tr>
                    
                        
                    </thead>
                    <tbody>
                        <!--vetement-->
                        <tr *ngFor="let elts of crea_cloth_item">
                            
                            <td ><img [src]="elts.face1" width="100" height="100" class="img-thumbnail zoom" /> 
                                <img [src]="elts.face2" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face2!=undefined" /> 
                            </td>
                        
                        
                                 <td>
                                     <div class="card" style="width: 10rem;">
                                        <div class="card-header">
                                          Description
                                        </div>
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item">{{elts.name}}</li>
                                          <li class="list-group-item">{{elts.type}} <strong hidden>nbcolor: {{elts.nbcolor}}</strong></li>
                                          <li class="list-group-item" *ngIf="elts.size.m "> M <strong>Quantite: {{elts.size.m}}</strong> </li>
                                          <li class="list-group-item" *ngIf="elts.size.l "> L <strong>Quantite: {{elts.size.l}}</strong></li>
                                          <li class="list-group-item" *ngIf=" elts.size.xl">XL <strong>Quantite: {{elts.size.xl}}</strong></li>
                                          <li class="list-group-item" *ngIf="  elts.size.s "> S <strong>Quantite: {{elts.size.s}}</strong></li>
                             
                        
                                        </ul>
                                      </div>
                        
                                 </td>
                            
                            <td class="text-center">
                                            <p class="to text text-primary" >{{elts.qty}}</p>
                                            <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                
                                            
                            </td>
                            <td class="text-right"> <strong>{{elts.price}} fcfa</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"  (click)="modal(elts)"   [id]="cart_items.indexOf(elts)+'*'+ crea_cloth_item.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>




                        <!--Amballage-->
                        <tr *ngFor="let elts of crea_pack_items">
                            
                            <td ><img [src]="elts.face1" width="100" height="100" class="img-thumbnail zoom"/> 
                                <img [src]="elts.face2" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face2!=undefined" /> 
                            </td>
                        
                        
                                 <td>
                                     <div class="card" style="width: 10rem;">
                                        <div class="card-header">
                                          Description
                                        </div>
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item">{{elts.name}}</li>
                        
                    
                                           <!---list of imported crea pack-->
                                           <li class="list-group-item" >{{elts.size}}</li>
                        
                                     <li class="list-group-item"><span>couleur: {{elts.color}}</span></li>
                        
                        
                                    <!---end list of imported crea pack-->
                        
                                        </ul>
                                      </div>
                        
                                 </td>
                            
                            <td class="text-center">
                                            <p class="to text text-primary" *ngIf="update"><span style="font-size: 12px;color: red; font-family: Georgia, 'Times New Roman', Times, serif;">{{lot[crea_pack_items.indexOf(elts)]}} packet (s) <br> </span>{{elts.qty}}</p>
                                            <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                       
                                            
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  XOF</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"  (click)="modal($event)"  [id]="cart_items.indexOf(elts)+'*'+ crea_pack_items.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>
                        <!--imprimer-->
                        <tr *ngFor="let elts of crea_print_items">
                            <td>
                                <img [src]="elts.face1" alt="" width="100" height="100" class="img-thumbnail zoom">
                            </td>
                            <td>
                                <div class="card" style="width: 10rem;">
                                    <div class="card-header">
                                      Description
                                    </div>
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{elts.type}}</li>
                                     <li class="list-group-item" *ngIf="elts.type=='etiquette'"><strong> Hauteur: {{elts.hauteur}}</strong></li>
                                     <li class="list-group-item" *ngIf="elts.type=='etiquette'" > <strong>largeur: {{elts.largeur}}</strong></li>
                                     <li class="list-group-item" *ngIf="elts.type=='carnet'">N° dernier reçu: {{elts.recu}}</li>
                                      <li class="list-group-item"> Format:{{elts.nom}}</li>
                                      
                                    </ul>
                                  </div>  
                            </td>
                            <td>
                                <p class="to text text-primary" >{{elts.qty}}</p>
                                <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  fcfa</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"   (click)="modal($event)"  [id]="cart_items.indexOf(elts)+'*'+ crea_print_items.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>
                        <!--affichage-->
                        <tr *ngFor=" let elts of crea_disp_items">
                            <td>
                                <img [src]="elts.face1" alt=""  width="100" height="100" class="img-thumbnail zoom">
                            </td>
                            <td>
                                <div class="card" style="width: 10rem;">
                                    <div class="card-header">
                                      Description
                                    </div>
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{elts.name}}</li>
                                    <li  class="list-group-item"  *ngIf="elts.name=='vynile'"> {{elts.vinile}}</li>
                                     <li class="list-group-item" *ngIf="elts.name=='bache' || elts.name=='vynile' ||  elts.name=='micro perforé'"><strong> Longueur: {{elts.hauteur}} cm</strong></li>
                                     <li class="list-group-item" *ngIf="elts.name=='bache' || elts.name=='vynile' ||  elts.name=='micro perforé'" > <strong>largeur: {{elts.large}} cm</strong></li>
                                      <li class="list-group-item"> Format: {{elts.nome}} </li>
                                      <li  class="list-group-item" 
                                      *ngIf="(elts.nome=='Standard avec découpe' || elts.nome=='Superieur avec decoupe') && elts.forme=='Etiquette rectangulaire'">
                                           <p><strong> Dimension d'etiquette </strong></p>
                                          <p><strong>Hauteur: {{elts.haut}}cm</strong></p>
                                           <p><strong>Largeur: {{elts.large}}cm</strong></p>


                                       </li>
                                       <li *ngIf="elts.nome=='Superieur avec decoupe'">
                                           <p><strong>{{elts.forme}}</strong></p>
                                           <p *ngIf="elts.forme=='Etiquette rond'">diametre: <strong>{{elts.diametre}}cm</strong></p>

                                       </li>
                                    </ul>
                                  </div>  
                            </td>
                            <td>
                                <p class="to text text-primary" >{{elts.qty}}</p>
                                <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  fcfa</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"   (click)="modal($event)"   [id]="cart_items.indexOf(elts)+'*'+ crea_disp_items.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>
                         <!--gadgets-->
                         <tr *ngFor="let elts of crea_gadget_items">
                            <td >
                                <img [src]="elts.face1" width="100" height="100" class="img-thumbnail zoom"/> 
                                <img [src]="elts.face2" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face2!=undefined" />  
                            </td>
                            <td>
                                <div class="card" style="width: 10rem;">
                                    <div class="card-header">
                                      Description
                                    </div>
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{elts.type}}</li>
                                     <li class="list-group-item" *ngIf="elts.type=='stylot'" >type: {{elts.nom}}<strong> </strong></li>
                                     <li class="list-group-item"  >{{elts.impr}}  <strong></strong></li>
                                     
                                    </ul>
                                  </div>  
                            </td>
                            <td>
                                <p class="to text text-primary" >{{elts.qty}}</p>
                                <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  fcfa</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"  (click)="modal($event)"  [id]="cart_items.indexOf(elts)+'*'+ crea_gadget_items.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>

                        <tr *ngFor="let elts of editor_items" >

                            <td>
                                <div class="im" style="overflow: scroll; width:200px;height:100">
                                    <img [src]="i" *ngFor ="let i of elts.urls"width="100" height="100" class="img-thumbnail zoom"/> 

                                </div>
                            </td>
                            
                        
                            <td>
                                <div class="card" style="width: 10rem;">
                                   <div class="card-header">
                                     Description
                                   </div>
                                   <ul class="list-group list-group-flush" *ngIf="elts.category=='vetements'" style="height: 100px;overflow:scroll">
                                       <li class="list-group-item" ><strong> {{elts.name}}</strong> </li>
                                       <li class="list-group-item" >Impression:<strong> {{elts.type_impr}}</strong> </li>
                                       <li class="list-group-item" *ngIf="elts.size_type.qm!=0" > M <strong>Qty: {{elts.size_type.qm}}</strong> </li>
                                       <li class="list-group-item" *ngIf="elts.size_type.ql!=0"> L <strong>Qty: {{elts.size_type.ql}}</strong></li>
                                       <li class="list-group-item" *ngIf="elts.size_type.qxl!=0">XL <strong>Qty: {{elts.size_type.qxl}}</strong></li>
                                       <li class="list-group-item" *ngIf="elts.size_type.qs!=0"> S <strong>Qty: {{elts.size_type.qs }}</strong></li>
                                       <li class="list-group-item" *ngIf="elts.size_type.qxxl!=0">XXL <strong>Qty: {{elts.size_type.qxxl}}</strong></li>
                                       <li class="list-group-item" *ngIf="elts.size_type.qxxxl!=0"> XXXL <strong>Qty: {{elts.size_type.qxxxl}}</strong></li>
   
                                   </ul>

                                   <ul class="list-group list-group-flush" *ngIf="elts.category=='imprimes'" style="height: 100px;overflow:scroll">
                                    <li class="list-group-item" ><strong> {{elts.name}}</strong> </li>
                                    <li class="list-group-item" *ngIf='elts.type!=null'>Impression:<strong> {{elts.type_impr}}</strong> </li>
                                    <li class="list-group-item" *ngIf="elts.bordure!=null"><strong>Bordure: {{elts.bordure}}</strong> </li>
                                    <li class="list-group-item" *ngIf="elts.pelicule!=null"><strong>Peliculage: {{elts.pelicule}}</strong> </li>
                                    <li class="list-group-item" *ngIf="elts.format!=null"><strong>Format: {{elts.format}}</strong> </li>



                                </ul>



                                   <ul class="list-group list-group-flush" *ngIf="elts.category=='emballages'">
                                       <li class="li-group-item">
                                           <strong>{{elts.name}}</strong>
                                       </li>
                                       <li class="list-group-item">Taille:{{elts.size}}</li>
                                   </ul>
                                   <ul class="list-group list-group-flush" *ngIf="elts.category=='gadgets'">
                                    <li class="li-group-item">
                                        <strong>{{elts.name}}</strong>
                                    </li>
                                    <li class="list-group-item">impression:{{elts.type}}</li>
                                    </ul>

                                    <ul class="list-group list-group-flush" *ngIf="elts.category=='imprimes'">
                                        <li class="li-group-item">
                                            <strong>{{elts.name}}</strong>
                                        </li>
                                        <li class="list-group-item" *ngIf="elts.format" >
                                        impression:{{elts.format}}
                                        </li>
                                        <li class="list-group-item" *ngIf="elts.pelicule">
                                            {{elts.pelicule}}
                                        </li>
                                        <li class="list-group-item" *ngIf="elts.bordure">
                                            {{elts.bordure}}
                                        </li>
                                        <li class="list-group-item" *ngIf="elts.type_impr">
                                            {{elts.type_impr}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="elts.category=='affichages'">
                                        <li class="li-group-item">
                                            <strong>{{elts.name}}</strong>
                                        </li>
                                        <li class="list-group-item" *ngIf="elts.type_impr">
                                            {{elts.type_impr}}
                                        </li>
                                        <li class="list-group-item" *ngIf="elts.dimension">
                                            {{elts.dimension}}
                                        </li>
                                    </ul>
                                 </div>
                   
                            </td>
                            <td class="text-center">

                                <p class="to text text-primary" *ngIf="update">{{elts.qty}}</p>
                                <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
          
                            </td>
                            <td *ngIf="elts.category=='vetements'"></td>
                            <td  class="text-right" *ngIf="elts.category!='vetements'"> <strong>{{elts.price}}  fcfa</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"  (click)="modal($event)"  [id]="cart.indexOf(elts)+'*'+ editor_items.indexOf(elts)+'*'+elts.type_product"></i> </a> 
                            </td>
                        </tr>

                        <tr>
                            <td></td>                            <td></td>

                           
                            <td></td>
                            <td>Sous-Total</td>
                            <td class="text-right"> <strong>{{sub_total}} fcfa</strong></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="/" class="btn btn-lg btn-block text-uppercase" style="background-color: #fab91a; color: #324161;">POURSUIVRE VOS ACHATS</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a  class="btn btn-lg btn-block text-uppercase" style="background-color: #324161; color: white;" (click)="finale_step($event)" *ngIf="showbtn">FINALISER VOTRE COMMANDE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<a hidden (click)="emitMoney(sub_total)" id="money"></a>

<div  *ngIf="isempty">
    <div class="text">
        <p>Récapitulatif de la commande</p>
      </div>
      <div class="image">
        <img src="/assets/image/Lampe pas de commande.png" alt="">
      </div>
      <div class="text-bas">
        <p>Il n'y a aucune commande</p>
        <a class="btn btn-lg btn-primary" (click)="homepage()">Continuer mes achats</a>
      </div>
</div>



