
<div class="container" style="text-align: center;" *ngIf="show_success" >
  <app-success [order]="order_id"></app-success>

</div>

<div class="container">
  <div class="row " *ngIf="!show_success">
    <div class="container" style="background: white !important;">
   
  <div class="row">
    <div class="col-12" style="text-align: center;">  
      <div class="container table-responsive py-5"> 
        <div style="float: left;"><img src="/assets/images/c.png" width="100" ></div>
        <div style="float: right;">
          <p style="color: black; font-style:italic">Intervalle date de livraison:</p>
          {{date}}

           <br>
           à
           <br>
  <strong>
    {{today}}

  </strong>
          <br>
        </div>
        <h1 style="display: flexbox; color:black;">Facture</h1>
        <table class="table table-bordered table-hover">
          <thead class="thead">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prenoms</th>
              <th scope="col">Email</th>
              <th scope="col">Telephone</th>
              <th scope="col">Frais de livraison (FCFA)</th>
              <th scope="col">Lieu de livraison</th>
              <th scope="col">Montant des achats (FCFA)</th>
              <th scope="col">Reduction de 40% (FCFA)</th>
              <th scope="col">Somme totale à payer (FCFA)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{data.user.last_name}}</th>
              <td>{{data.user.first_name}}</td>
              <td>{{data.user.email}}</td>
              <td>{{data.user.phone}}</td>
              <td>{{data.delivery}}</td>
              <td>{{data.city}} ;{{data.address}} </td>
              <td>{{data.total}}</td>
              <td>{{data.discount}}</td>
              <td>{{amount}}</td>
      
            </tr>
      
          </tbody>
        </table>
        </div>
        
          </div>
  </div>
  
    
    <div class="row"  *ngIf="!isom">
      <div class="col-sm-12 header">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2>
              Paiement
            </h2>
          </div>
        </div>
      </div>
  
            <div class="paymentWrap">
                <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">               
                        <label class="btn paymentMethod">
                          <div class="method momo"></div>
                            <input type="radio" name="options" class="logo">
                        </label>
                        
                    </div>
              </div>
  
              <div class="form-group" >
                <div class="col-xs-12" id="cel_phone_num" >
                  <span class="text-danger text-sm"><p>Utilisez votre téléphone mobile pour valider le paiement</p></span>
                  <span *ngIf="paystatus" class="text-small">en cour de validation...</span>
  
                  <div class="spinner-grow text-warning" style="width: 4rem; height: 4rem;"  role="status" *ngIf="paystatus">
                  </div>
  
                <label for="phone_num" *ngIf="paystatus==false">Saisissez votre numéro de téléphone</label>
                <br>
                  <div class="iti">
                    <input type="tel" id="phone_num" name="phone_num" class="form-control" placeholder=" Votre numéro de téléphone" [(ngModel)]="phone">
                  </div>
                </div>
              </div>
           
    </div>
  
    <div class="row" style="padding: 2em;text-align:center">
      <span *ngIf="isom">
        <img src="/assets/images/omoney.jpg" width="100" height="100">
      </span>
  
      <span *ngIf="shwSpinner">
        <div class="spinner-border"></div>
    
       </span>
  
     <div class="col-12" *ngIf="!shwSpinner">
      <label for="om" style="font-style: italic;" *ngIf="isom">Proceder  maitenant au paiement avec Orange cote d'ivoire</label>
      <br>
  
       <a role="boutton" *ngIf="isom" class="btn btn-success " id="om" (click)="om()"><span class="fa fa-check-square"></span>
        Payer</a>
  
        <a role="boutton" *ngIf="!isom" class="btn btn-success " id="momopy" (click)="momo()"><span class="fa fa-check-square"></span>
          Payer</a>
       <a role="boutton" class="btn-warning btn " style="margin-left: 15%;"(click)="backcheck()">Retour</a>
     </div>
  
    <a hidden id="ok" (click)="ClearTimer()">ok</a>
  
  
    </div>
  
  
  </div>
  </div>
</div>



