
<div class="card-header" style="background: #324161; color: white;" *ngIf="searchItem">
    <span>
      {{data.length}}  resultats trouvés
    </span> 
   </div>
  
  <div class=" container " *ngIf="searchItem">
    
    <app-list-product [list_of_prod]="data" [editor]="list_for_editor" (ChangeBackground)="changeIt($event)" ></app-list-product>
  
  </div>

