<div class="container" style="text-align: center;">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides animate" *ngFor='let item of data'>
    <img [src]="item" class="date" alt="slide" width="300" />
    <div class="number">{{data.indexOf(item)+ 1}}/{{data.length}} </div>
  </div>
  <!-- Next and previous buttons -->
  <div style="margin-left:0em;">
    <a class="prev" (click)="prevSlide()">&#10094;</a>
  <a class="next" (click)="nextSlide()">&#10095;</a>
  </div>

  <!-- The dots/circles -->
  <div class="dots-container">
    <span class="dots"  *ngFor='let item of data' (click)="currentSlide(data.indexOf(item))"></span>
   
  </div>

</div>