
 
  <div class="container">
    <app-upload-form *ngIf="!showme" [data]="category" (file_type)="OnRadioClick($event)"></app-upload-form>

      <div class="row des" *ngIf="showme">
          <div class="col-6" style=" text-align: center;">
              
              <div class="image-face">
                  <h5>Le visuel</h5>
                  <img [src]="url" width="300" alt="">
                 
              </div>
              <div class="row">
                  <div class="col-6">
                      <div class="image-face">
                      <h5>La maquette</h5>
                      <pdf-viewer [src]="viewimage"[render-text]="true"[original-size]="false" class="pdf"></pdf-viewer>
                        <a role="button" style="margin-bottom: 20px;"><strong style="color: #324161;">{{filename}}</strong></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-6">
              <div class="type">
                  <h1>{{file_type}}</h1>
              </div>
              <span style="color: red; font-weight: bold;" *ngIf="etiquette==false && carnete==false">{{err}}</span>
              <br>
            <div class="etiquette" *ngIf="hideetiquette">
              <div class="dimension">
                  <h6>Largeur</h6>
                  <div class="input-group col-10" >
                      
                      <input type="text" style="height: 38px;" class="form-control"  aria-describedby="basic-addon2" [(ngModel)]="largeur">
                      <span class="input-group-text" id="basic-addon2">cm</span>
                      <p style="color: red; font-weight: bold;" *ngIf="largeur==undefined">{{err}}</p>
                     
                  </div>
                  <h6>Hauteur</h6>
                  <div class="input-group col-10">
                      <input type="text" style="height: 38px;" class="form-control"  aria-describedby="addon2" [(ngModel)]="longueur">
                      <span class="input-group-text" id="addon2">cm</span>
                      <p style="color: red; font-weight: bold;" *ngIf="longueur==undefined">{{erreur}}</p>
                  </div>
              </div>
              <br>
              <div class="format">
                  <h6>Le Format</h6>
              </div>
              <div class="choix">
                <select name="select" id="select" class="form-control" style="width: 160%;" (change)="onchange1($event)">
                  <option value="">---choisisssez votre format---</option>
                  <option *ngFor="let item of etiquette_format" [value]="item.product_format_id">{{item.other_format}}</option>
                </select>
                 
              </div>
              <span style="color: red; font-weight: bold;" *ngIf="sansdecouper==false && avecdecoupe==false">{{erreur}}</span>
            </div>
            <div class="carnet" *ngIf="carnet">
              <div class="quantite">
                  <h6>Serait-il votre premier carnet?</h6>
                  <label for="">Oui</label>
                  <input checked type="radio" name="radio" id="" (click)="showoui()">
  
                  <label for="">Non</label>
                  <input type="radio" name="radio" id="" (click)="shownon()">
                <input *ngIf="non" type="text" class="form-control" placeholder="Entrer le dernier numero de votre reçu" [(ngModel)]="recu">
              </div>
              <br>
                <h5>Les Format</h5>
                
                <div class="format">
                    <div class="row">
                        <div class="col-4">
                          
                       <select name="select" id="select" class="form-control" style="width: 160%;" (change)="onchange($event)">
                         <option value="">---choisisssez votre format---</option>
                         <option *ngFor="let item of carnet_format" [value]="item.product_format_id">{{item.other_format}}</option>
                       </select>
                          
                      </div>
                    </div>
                </div>
            </div>
            <br>
            <!--bouton import maquette-->
            <div class="btn btnet" >
              <label class="des" for="ptn">
              importer la maquette
              <i class="fas fa-arrow-circle-up fa-2x"></i>
              </label>
              <input type="file" name="" id="ptn"  hidden (change)="Uplade($event)" >
             </div>
             <span style="color: red;font-weight: bold;" *ngIf="file3==undefined" >{{error}}</span>
             <br>
             <!--quantité-->
             <div class="quantite" style="display:flex;" >
              <label for="">Quantité</label>
              <div class="moins">
                <a class="btn btnt" >
                  <i class="fal fa-minus-circle fa-2x" ></i>
                </a>
              </div>
              <input  type="text" class="form-control cont" disabled  [(ngModel)]="qtyA6">
              <div class="plus">
                <a class="btn btnt" (click)="plus()" >
                  <i class="fal fa-plus-circle fa-2x"></i>
                </a>
              </div>
            </div>
             
            <br>
            <div class="prix" >
              <h4><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">prix unitaire:</h4>
             <h4>{{Price}} fcfa</h4>
              <input type="number" hidden [(ngModel)]="Price" >
          </div>
          <br><br>
              <button class="btn-success btne" type="submit" style="float: right;" (click)="addcart()">Ajouter au panier</button>
          </div>
      </div>
  </div>
 