
      <div class="container">
        <app-upload-form *ngIf="!showme" [data]="category" (file_type)="OnRadioClick($event)"></app-upload-form>

          <div class="row" *ngIf="showme">
  
              <div class="col-6 image">
                <h6>vos visuels</h6>
                <img [src]="url" width="100" alt="">
                <img  [src]="imagepreview " width="100" alt="">
                <br><br><br>
  
                <div class="row">
                  <h6>Vos maquettes</h6>
  
                  <div class="col-12">
                    <pdf-viewer [src]="viewimage"[render-text]="true"[original-size]="false"style="width: 600px; height: 400px;"></pdf-viewer>
                    <a role="button" style="margin-bottom: 20px;"><strong style="color: #324161;">{{filename1}}</strong></a>
                    
                   <pdf-viewer [src]="ViewImg"[render-text]="true"[original-size]="false"style="width: 600px; height: 400px;"></pdf-viewer>
                    <a role="button" style="margin-bottom: 20px;"><strong style="color: #324161;">{{filename2}}</strong></a>
                  </div>
                </div>
              </div>
  
              <div class="col-6" >
                <!--Type de tee-shirt-->
                <div class="type_shirt" style="margin-top: 16px;">
                  <h2>{{file_type}}</h2>
                  <div class="form-check form-switch" *ngIf="sac">
                    <input class="form-check-input" type="checkbox" id="sac" [(ngModel)]="sac" (click)="Isac()" disabled>
                    <label class="form-check-label" for="sac">Sac</label>
                  </div>
                  <div class="form-check form-switch" *ngIf="sachet">
                    <input class="form-check-input" type="checkbox" id="sachet" [(ngModel)]="sachet" (click)="Isachet()" disabled>
                    <label class="form-check-label" for="sachet">Sachet </label>
                  </div>
  
  
                  <div class="row" *ngIf="sac">
                    <select class="form-select form-select-lg mb-3" aria-label="sacisize" id="mybag" style="width: 55%;" (change)="onchangesac($event)">
                      <option selected style="font-size: 12px;" value="Choix de la taille du sac (largeur/hauteur) en cm">Choix de la taille du sac (largeur/hauteur) en cm</option>
                      <option *ngFor="let item of p_sizes"  [value]="item.product_format_id" >{{item.product_width}}cm/{{item.product_height}}cm </option>
                    </select>
  
                    <select class="form-select form-select-lg mb-3" aria-label="sacisizecolor" id="mybagcolor" style="width: 55%;" (change)="colorchange($event)">
                      <option selected style="font-size: 12px;" value="Choix de le Nombre de couleur">Choix de le Nombre de couleur</option>
                      <option *ngFor="let item of nbcolor" [value]="item">{{item}}</option>
                    </select>
                    <input name="pri" [(ngModel)]="Cost" hidden>
                    <p *ngIf="shwpr" style="color: #324161;font-size: 25px; font-family: Georgia, Times New Roman, Times, serif;">
                     <strong> Prix: {{Cost}}  FCFA</strong> 
                    </p>
  
                  </div>
  
                  <div class="row" *ngIf="sachet">
                    <select class="form-select form-select-lg mb-3" aria-label="sacisize" id="mybags" style="width: 55%;" (change)="onchangesachet($event)">
                      <option selected style="font-size: 12px;" value="Choix de la taille du sachet (largeur/hauteur) en cm">Choix de la taille du sachet (largeur/hauteur) en cm</option>
                      <option *ngFor="let item of t_sizes" [value]="item.product_format_id">{{item.product_width}}cm/{{item.product_height}}cm</option>
                    </select>
  
  
                          <p style="color: red; font-family: Times New Roman, Times, serif;">Il y a t-il une couleur sur votre design?</p>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="sachetc"  [(ngModel)]="hascolor"  (click)="color()">
                      <label class="form-check-label" for="sachet">Oui ?</label>
                    </div>
  
  
                    <p *ngIf="shwpr_2"  style="color: #324161;font-size: 25px; font-family: Georgia, Times New Roman, Times, serif;">
                     <strong> Prix: {{Cost}}  FCFA</strong>
                    </p>
  
                  </div>
  
                </div>
                  <!--fin-->
                   <!--question
                   <div class="question">
                    <h6>Y'a-t-il une face arrière?</h6>
                     <div class="oui">
                       <label for="">Oui</label>
                       <input type="radio" name="rd" id="rd"  (click)="View()" >
                     </div>
                     <div class="oui">
                       <label for="">Non</label>
                       <input type="radio" name="rd" id="non" (click)="view2()" >
                     </div>
                   </div>-->
  
  
                   <!--fin-->
                    <!--visuel-->
                      <div class="visuel" *ngIf='visible'>
                        <h6>importer vos visuels</h6>
                        <div class="btn btne">
  
                          <label class="des" for="filess">
                          Face arrière
                            <i class="fas fa-arrow-circle-up fa-2x"></i>
                          </label>
                            <input type="file" name="u" id="filess" hidden (change)="Uplode($event)">
                        </div>
                      </div>
                    <!--fin-->
  
                   <!--maquette-->
                   <div class="maquette">
                    <h6>Importer vos maquettes:</h6>
                    <div class="btn" >
                      <label class="des" for="file">
                      importe maquette face avant
                      <i class="fas fa-arrow-circle-up fa-2x"></i>
                      </label>
                      <input type="file" name="" id="file" hidden (change)='Uplade($event)'>
                     </div>
                     <div class="btn" *ngIf='visible'>
                      <label class="des" for="fil">
                      importe maquette face arrière
                      <i class="fas fa-arrow-circle-up fa-2x"></i>
                      </label>
                      <input type="file" name="" id="fil" hidden (change)='Upladeimage($event)'>
                     </div>
                   </div>
                <br><br>
  
  
              <!--fin-->
  
  
                 <div class="col-6 " style="margin-top:0% ;" >
                  <h1 style="margin-left: 35%;">Quantité</h1>
                  <button class="btn" style="width: 20%; margin-left: 35%;" (click)="plus()" >
                    <i class="fal fa-circle-minus"></i>
                  </button>
                   <span style="margin-left: 40%;">{{bagqty}}</span>
  
                   <button class="btn" style="width: 20%;margin-left: 35%;"(click)="minus()">
                    <i class="fal fa-circle-plus"></i>
                   </button>
                 </div>
  
                   <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="err">
                  <strong>erreur!</strong> {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                 <button class=" btn btn-primary" type="submit" style="float: left;" (click)="ChangeComponent(chanecpt)" style="background-color: royalblue;">Retour</button>
  
                 <button class="btn-success" type="submit" style="float: right;" (click)="Addtocart()">Ajouter au panier</button>
              </div>
          </div>
      </div>
  
  