
<app-header [list_of_prod]="list_of_prod" *ngIf="!editor"></app-header>
  <app-aladin *ngIf="editor" [data]="dt" [models]="list_dt"></app-aladin>
  <div class="container" *ngIf='!editor'>
    <div id="body" >
      <div class="row">
        <div class="col-sm-6 box-image">
          <img src="assets/image/j.png" alt="">
        </div>
        <div class="col-sm-6 box-text test">
          <p>Les meilleurs emballages aux meilleurs Prix</p>

          <div class="decouvrir">
            <a style="color: white;" class="btn btn-decouvrir" (click)="View()">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section-personnalisation" id="view">
      <br><br><br>
      <div class="card-columns"> 
              <app-insert-pack></app-insert-pack>
              <app-search-result></app-search-result>
            
            <app-list-product [list_of_prod]="list_of_prod"></app-list-product>
          

       
      </div>
    </div>

  </div>


<app-footer *ngIf='!editor'></app-footer>