a{
    cursor: pointer;
    
}
//css top bar

.navbar{
    color: white;
    flex-wrap: nowrap;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    //position:fixed;
    width: 100%;
    


}
.dode{
    position: static;
    top: 0;
}
.container-fluid ul{
    float: left;
    position: relative;
    height: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    margin: 14px;





}
.partner a{
background: #fab91a;
color: #042341;
font-weight: bold;
margin-left: 15px;
top: 8px;

}
.vertical-line{
    border-left: 2px solid white;
    display:inline;
    height: 17px;
    margin: 0 6px;
    position:center;
    opacity: 75%;

}
//fin
// css de la nav bar
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
nav{
    z-index: 1;
    position:sticky;
    top:0;
   
}

nav .nav{
    display: flex;
    width: 100%;
    background:white;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
    box-shadow: 0 0 12px;
    z-index: 1;


}
img {

	max-width:100%;
	vertical-align: middle;


}
.logo img{
    max-height: 40px;
    transition: all 0.3s ease 0s;
    margin-left: 69px;
    //position: relative;
    //left: -17em;
}

nav ol {
 display: flex;
 list-style: none;
 margin: auto 0;
 padding: 0 35px 4px;
 margin-right: 44px;
}
nav ol li{
    margin: 0 2px;
}
nav ol li a{
    color:#042341;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: 'poppins';
    letter-spacing: 1px;
    padding: 10px 20px;
}
nav .search_box{
    display: flex;
    margin: auto 0;
    height: 39px;
    line-height: 35px;

}
nav .search_box input{
    border: solid 2px #042341;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
    border-radius: 14px;
}

nav .search_box a{
    color: #042341;
    font-size: 20px;
    height: 100%;
    padding: 4px;
    position: relative;
    right: 43px;
    cursor: pointer;
    z-index: 1;
}
nav .search_box a::after{
    height: 100%;
    width: 0%;
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}
nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{
    position: absolute;
    color: #042341;
    font-size: 20px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;

}

.modal-content{
    border-radius: 20px;
    box-shadow: 0 5px 5px ;
    border-color: rgb(199, 189, 189);
    font-family: 'Poppins',sans-serif;
}
.modal-body{
    color:#042341;

}

form a{
    text-decoration: none;
    padding: 12px;;
}

.horizontal-line-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #D8DDEC;
  line-height: 0.1rem;
  margin: 25px 0 30px 0;

  span {
    background: white;
    padding: 0 10px;
  }
}

.ico{
  width: 100px;
  margin-left: 30%;
}
//fin
//mobile
@media screen and (max-width:1250px) {
    .navbar{
        display:flex;
        padding: 0;
    }
    nav {

        padding: 0;


    }
   
    .logo img{
      max-height: 40px;
    transition: all 0.3s ease 0s;
    margin-left: 69px;
   
    }
    .lit{
        display: none;
    }
    .cole{
        display:contents;
    }
    nav .logo{
        display: inline-block;
    position: relative;
    right: 32px;
    }
    nav .search_box{
        width: 100%;
        display: inline flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search_box input{
        width: 90%;
    }
   nav ol{
    display: contents;
    position: absolute;
    left: 141px;

    }
  
    nav ol li a{
        justify-content: center;
    position: absolute;
    font-size: 16px;
    margin-left: -51px;
    margin-top: 6px;
  }
    
    nav ol li a i .fas{
      color: black;
    }
    .subnav{
        display: none;
    }
    .Ac{
      display: none;
    }
 

}
.subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navb .subnav:hover .subnavbtn {
    
    margin-top: 55px;
  }
  .subnav .subnav-content p{
    font-size: inherit;
    font-family: 'nunito';
    justify-items: center;
  }
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:aliceblue;
    width: 100%;
    height: 55vh;
    font-family: "roboto", Arial, Helvetica, sans-serif ;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration:black;
  }
  
  .subnav-content a:hover {
    //background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
.subnav .subnav-content .card{
    background-color:transparent;
     border: none;
     box-shadow: none;
}
.subnav .subnav-content .card a, h1{
  font-family: "roboto", Arial, Helvetica, sans-serif ;
}
//fin
//slide
.slide {
    
    height: 300px;
    overflow: hidden;
    position: relative;
    
  }
  .slide > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    animation: slide 25s infinite;
    opacity: 0;
  }
  .slide > div:nth-child(2) {
    animation-delay: 5s;
  }
  .slide > div:nth-child(3) {
    animation-delay: 10s;
  }
  .slide > div:nth-child(4) {
    animation-delay: 15s;
  }
  .slide > div:nth-child(5) {
    animation-delay: 20s;
  }
  @keyframes slide {
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    40% {
      transform: scale(1.2);
    }
  }
  .black {
    height: 1.2em;
    line-height: 1.2em;
   
    position: relative;
    overflow: hidden;
    width: 15em;
  }
  .black span, .black span strong{
    font-family: 'Tangerine',serif;
  }
  .black span strong{
    font-size: 2rem;
    color: #fab91a;
  }
  .black > span {
    position: absolute;
    //top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
    80%{
      top:1 ;
    }
  }
  .caff{
    z-index: 3;
    color: #324161;
    position: unset;
    margin-top: 12px;
    font-size: 1.3em;
    display: none;
   
}
.offcanvas.show{
  transform: rotateY(45deg);
  height: 28rem;
  visibility: hidden;
  overflow-x: hidden;
}
@media only screen and (max-width:768px) {
  .caff{
    display:flex;
    visibility: visible;
  }
  .offcanvas.show{
   display:inline;
   visibility: visible;
   background: aliceblue;
   overflow: hidden;
  }
}
// .offcanvas-body{
//   overflow: hidden;
// }
.offcanvas-body .cloth{
  border: solid 1px #042341;
  padding:17px 19px;
  margin:0;
  width: 119%;
  margin-left: -2rem;
  color: #042341;
  font-size: 1.1rem;

}
.offcanvas-body .cloth a{
  text-decoration: none;
  color: #042341;
}

.offcanvas-body .cloth .ico{
  width: 50px;
  margin-right: 25%;
  margin-left: 0;
}

.btn-close{
  background-image: url("/assets/image/close.svg");
  font-size: 30px;
  opacity: 1;
}

.offcanvas-header .offcanvas-title , .offcanvas-header{
  color: #042341;
}
@media only screen and (min-width: 481px) and (max-width: 1280px) {
  .caff{
    display:flex;
    visibility: visible;
  }
  .offcanvas.show{
   display:inline;
   visibility: visible;
   background: aliceblue;
   overflow: hidden;
  }
 }