
  
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>Nous avons reçu votre commande numero: {{order}};<br/>Vous serez notifié dès que possible pour recupérer votre produit!</p>
        <a href="/" class="btn btn-primary">Continuer</a>
      </div>
